#section_five {
	background: #f0f0f1;
	padding:130px 0px 0;
	overflow-x: hidden;
	span.large_header {
		font-size:120px;
		font-family:$freightdisplay;
		font-weight:400;
		color:$blue;
		display: block;
		text-align: center;
		text-transform: lowercase;
		span {
			color:$bluelight;
			font-family: $freightbigpro;
			font-weight: 400;
			&:before {
				content:"";
				width:15px;
				height:15px;
				background:$bluelight;
				display: inline-block;
				transform: rotate(-45deg);
				vertical-align: top;
				margin:65px 23px 0 00px;
			}
		}
	}
}


		
.sec_five_inner {
	display: flex;
	margin:152px 0 0 0;
}

.sec_five_left {
	//width:889px;
	width:46%;
	background:#fff;
	
	
}


.coco_wrapper {
// 	background:#fff;
	padding-top:1px;
	//padding-bottom:85px;
	padding-right:75px;
	img.coco {
		max-width: 100%;
		height:auto;
		display: block;
		margin-top:-45px;
	}
	img.coco.desktop {
		
	}
	img.coco.mobile {
		display: none;
	}
	
}


.coco_content_wrapper {
	display: block;
	margin:78px 0 0;
	padding:0 0px 0 14%;
	max-width: 760px;
	span.coco_content {
		font-family: $freightdisplay;
		font-size:48px;
		line-height: 66px;
		color:$blue;
		display: block;
		span.blue {
			color:$bluelight;
		}
	}
	a.coco_button {
		background: $bluelight;
		display: inline-block;
		color:#fff;
		text-transform: uppercase;
		font-family: $tekomedium;
		font-size:20px;
		line-height: 1;
		letter-spacing: 0.16em;
		text-decoration: none;
		padding:24px 33px 21px;
		transition: all 200ms ease-in-out;
		margin-top:29px;
		&:hover {
			background: $blue;
		}
	}
}


.sec_five_right {
	//width:calc(100% - 889px);
	width:53%;
	padding: 0px 0px 130px 9%;
  max-width: 931px;
  .sec_five_right_inner {
	  padding-right:7%;
  }
}


.sec_five_right.content {
	h2 {
		font-size:24px;
		padding-top:0;
	}
}


.oragnization_wrapper {
	padding-top:52px;
}

span.org_title {
	text-transform: uppercase;
	font-family: $tekoregular;
	font-size:22px;
	letter-spacing: 0.16em;
	display: inline-block;
	border-bottom:1px solid $bluelight;
	padding-bottom:4px;
}


.org_slider_wrapper {
	margin-top:65px;
	width:100%;
	max-width:715px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}

.org_slider {
	float:left;
	width:100%;
	max-width:620px;
	margin-left:-30px;
}

.org_single_slide {
	text-align: center;
	margin:0 8px;
	img {
		max-width: 153px;
		height:auto;
		
		display: block;
		margin-left:auto;
		margin-right:auto;
	}
}



.org_buttons {
	float:right;
	margin-top: 5px;
}

.org_button {
	width:52px;
	height:52px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $bluelight;
		svg {
			fill:#fff;
		}
	}
	svg {
		width:6.5px;
		height:12px;
		fill:$bluelight;
		transition: all 200ms ease-in-out;
	}
}

.org_button.org_next {
	transform: rotate(180deg);
	margin-top:12px;
}



@media screen and (max-width: 1800px) {
	
	
	
	.sec_five_right {
		padding: 0px 0px 80px 4%;
	}
	
	
	.coco_content_wrapper {
    padding: 0 0px 0 8%;
    span.coco_content {
	    font-size:40px;
	    line-height: 58px;
    }
   }
	
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
	
	
	#section_five  {
		padding: 88px 0px 0;
		span.large_header {
      font-size: 90px;
      span {
	      &:before {
	      	width: 10px;
					height: 10px;
				margin: 51px 23px 0 00px;
      	}
      }
     }
	}
	
	
	.sec_five_inner {
    margin: 81px 0 0 0;
   }

	.coco_wrapper img.coco {
    margin-top: -38px;
	}
	
	.sec_five_left {
		margin-top:43px;
		width: 45.5%;
	}
	
	.coco_wrapper {
		padding-right: 44px;
	}
	
	.coco_content_wrapper {
    padding: 6px 0px 0 8%;
    margin-left:auto;
    margin-right:auto;
    max-width: 580px;
    letter-spacing: 0;
    a.coco_button {
	    font-size: 18px;
	    letter-spacing: 0.1em;
	    margin-top:36px;
			padding: 25px 33px 23px;
    }
	}
	
	.sec_five_right {
    padding: 0px 0px 69px 3.5%;
	}
	
	.oragnization_wrapper {
		padding-top:27px;
	}
	
	.org_slider_wrapper {
		max-width: 640px;
		margin-top: 37px;
	}
	
	.org_slider {
		max-width: 568px;
		margin-left:-17px;
	}
	
	
	.org_single_slide {
		img {
			max-width:150px;
		}
	}
	
	.org_buttons {
		margin-top: 7px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1280px) {
	
	
	.oragnization_wrapper {
		padding-right:15px;
		max-width: 478px;
	}
	
	
	.org_slider {
    max-width: 428px;
    margin-left: -17px;
	}
	
	.org_buttons {
		margin-top: 0px;
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 1066px) {
	
	
	#section_five  {
		padding: 79px 0px 0;
		span.large_header {
      font-size: 73px; 
      span {
	      &:before {
	      	width: 8px;
					height: 8px;
					margin: 40px 15px 0 -3px;
      	}
      }
     }
	}
	
	
	.sec_five_inner {
    flex-direction: column;
    padding-right:72px;
   }

	.coco_wrapper {
		padding-right: 53px;
	}
	
	 	
	.sec_five_left {
		width:100%;
		padding-bottom:80px;
		//max-width: 900px;
	}
	
	.coco_wrapper {
		
	}
	
	.coco_content_wrapper {
    padding: 0px 0px 0 72px;
    margin-top: 50px;
    margin-left:0;
    margin-right: 0;
    max-width:780px;
    a.coco_button {
	    padding: 25px 25px 23px;
    }
	}
	
	.sec_five_right {
   	width:100%;
   	margin: 81px 0 0;
   	padding-left:72px;
   	padding-right:0px;
   	max-width:100%;
   	.sec_five_right_inner {
	   	padding-right:0;
   	}
	}
	
	.oragnization_wrapper {
		max-width:100%;
		padding-right:0;
	}
	
	.org_slider_wrapper {
		max-width:100%;
	}
	
	.org_slider {
		width:calc(100% - 52px);
		max-width: 680px;
		margin-left: -36px;
	}
	
	
	.org_single_slide {
		img {
			max-width:160px;
		}
	}
	
	.org_buttons {
		width:52px;
		float:left;
		margin-top: 8px;
		margin-left:35px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 950px) {
	
	
	
	
	
	.coco_content_wrapper {
		max-width: 710px;
	}
	
} /* Media Query */

@media screen and (max-width: 870px) {
	
	
	.coco_content_wrapper {
		max-width: 600px;
	}

	
} /* Media Query */



@media screen and (max-width: 810px) {
	
	
	
	.org_buttons {
		float:right;
		position: relative;
		right:-27px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	#section_five  {
		padding: 57px 0px 0;
		span.large_header {
      font-size:57px;
      display: block;
      margin-left:auto;
      margin-right:auto;
      max-width: 280px;
      line-height: 54px;
      span {
	      &:before {
	      	display: none;
      	}
      }
     }
	}
	
	
	.sec_five_inner {
		padding-right:22px;
		margin: 49px 0 0 0;
	}


	.coco_wrapper {
		padding-right:18px;
/*
		img.coco.desktop {
			display: none;
		}
		img.coco.mobile {
			display: block;
		}
*/
	}
	
	
	.coco_content_wrapper {
		margin-top: 36px;
		padding-left:22px;
		span.coco_content {
			font-size:27px;
			line-height: 40px;
		}
	}
	
	.sec_five_left {
		padding-bottom: 71px;
	}
	
	.sec_five_right {
		margin: 54px 0 0;
		padding: 0px 0px 57px 22px;
	}
	
	.oragnization_wrapper {
    padding-top: 49px;
    text-align: center;
	}
	
	span.org_title {
		display: inline-block;
	}
	
	.org_slider_wrapper {
		margin-top: 50px;
	}
	
	
	.org_slider {
		float:none;
		width:100%;
		margin-left:0;
	}
	
	
	.org_single_slide {
		img {
			max-width:190px;
		}
	}
	
	.org_buttons {
		float:none;
		margin:27px 0 0 0;
		right:0;
		text-align: center;
		width:100%;
	}
	
	.org_button {
		margin:0 8px;
		display: inline-block !important;
	}
	
	.org_back {
		svg {
			transform: translateY(11px);
		}
	}
	
	.org_next {
		svg {
			transform: translateY(11px);
		}
	}
	
	
} /* Media Query */
