

#section_three {
	width:100%;
	padding:35px 0 0;
}


.sec_three_inner {
	
	h1 {
		font-style: normal;
		font-weight: 400;
		text-align: center;
		span.top_line {
			font-family: $tekoregular;
			color:$blue;
			display: block;
			text-transform: uppercase;
			font-size:215px;
			letter-spacing: 0.04em;
			span {
				&:before {
					content:"";
					width:14px;
					height:14px;
					background: $bluelight;
					display: inline-block;
					vertical-align: top;
					line-height: 170px;
					transform: rotate(-45deg);
					margin:88px 0 0 -25px;
					position: relative;
					top:0;
					left:-9px;
				}
			}
		}
		span.bottom_line {
			text-transform: lowercase;
			font-family: $freightbigpro;
			font-weight: 500;
			font-style: italic;
			font-size:100px;
			color:#abacb2;
			display: block;
			margin:-42px 0 0;
		}
	}
	blockquote {
		max-width:796px;
	}
}


.sec_three_top_content {
	margin: 120px 0 0;
}


.sec_three_top_content_inner {
	display: flex;
}

.top_content_left {
	flex-grow: 1;
	padding-left:8.5%;
	padding-right:5%;
}

.top_content_right {
	flex-basis: 737px;
	flex-shrink: 0;
	flex-grow:0;
	margin-top:9px;
	.first_image {
		background: url(#{$themePath}images/content1_img_01_desktop.jpg) top left no-repeat;
		width:100%;
		height:737px;
		display: flex;
		justify-content: center;
		align-items: center;
		a.consult_button {
			margin-top: -35px;
		}
	}
	img.second_image {
		margin:-223px 0 0 90px;
	}
}



.sec_three_bottom_content {
	display: flex;
	margin: 120px 0 0;
}

.bottom_content_left {
	flex-basis: 890px;
	flex-shrink: 0;
	flex-grow: 0;
	margin-top:130px;
}

.bottom_content_right {
	flex-grow: 1;
	padding-left:3%;
	padding-right:8%;
	margin-top:23px;
	padding-bottom:54px;
	.columns {
		column-count:2;
		column-gap:68px;
		margin-bottom:38px;
		h2 {
			padding-top:0;
		}
	}
}



.bottom_content_video {
	background:#f0f0f1;
	padding-bottom:95px;
	.stars {
		text-align: center;
		margin: 65px 0 0;
		svg {
			width: 76px;
			height: 76px;
			margin-left:2px;
			margin-right:4px;
		}
	}
	a.consult_button {
    width: 430px;
		margin: 83px auto 0;
	}
	a.consult_button.mobile {
			display: none;
	}
}

img.video_banner {
	top:-95px;
	position: relative;
	max-width:100%;
	height:auto;
	display: block;
}


.sec_three_play {
	width:147px;
	height:147px;
	background: $bluelight;
	display: block;
	margin: -169px auto 0;
	border-radius:50%;
	position: relative;
/*
	display: flex;
	justify-content: center;
	align-items: center;
*/
	transition: all 200ms ease-in-out;
	cursor: pointer;
	&:hover {
		background: $blue;
	}
	&:before {
		content:"";
		display: block;
		width: 0; 
		height: 0; 
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 12px solid #fff;
		position: absolute;
		top: 64px;
    left: 68px;
	}
}


span.sec_three_test_quote {
	text-align: center;
	font-size: 50px;
	font-family: $freightbigpro;
	font-style: italic;
	font-weight: 500;
	color:$blue;
	line-height: 61px;
	display: block;
	max-width:693px;
	margin:27px auto 0;
	&:after {
		content:"";
		display: block;
		margin:29px auto 0px;
		width:200px;
		height:1px;
		background: $bluelight;
	}
}

span.sec_three_test_content {
	font-family: $helveticalight;
	font-size: 24px;
	line-height: 40px;
	color:#7b7e87;
	max-width:665px;
	text-align: center;
	margin:24px auto 0;
	display: block;
}


span.sec_three_test_name {
	color:#7b7e87;
	text-transform: uppercase;
	font-size:22px;
	letter-spacing: 0.04em;
	text-align: center;
	display: block;
	font-family: $tekoregular;
	margin-top:26px;
}


span.sec_three_disclaimer {
	display: block;
	border-top:1px solid $bluelight;
	margin:145px auto 0;
	font-family: $helveticaregular;
	font-size:14px;
	color:$blue;
	line-height: 24px;
	padding:16px 5px 0;
	text-align: center;
	max-width:675px
}



@media screen and (max-width: 1660px) {
	
	
	

.bottom_content_right {
	
	.columns {
		column-count:1;
		column-gap:68px;
		margin-bottom:38px;
		
	}
}




} /* Media Query */




@media screen and (max-width: 1450px) {
	
	
	
.sec_three_inner {
	
	h1 {
		
		span.top_line {
			font-size:175px;
			span {
				&:before {
					width: 12px;
					height: 12px;
					margin: 75px 0 0 -10px;
					left: -14px;
				}
			}
		}
		span.bottom_line {
			font-size:82px;
			margin: -36px 0 0;
		}
	}
	blockquote {
		
	}
}

	
	.sec_three_top_content {
    margin: 115px 0 0;
	}
	
	
	.top_content_left {
		padding-left:75px;
		padding-right:50px;
	}
	
	.top_content_right {
		flex-basis: auto;
		width:550px;
		.first_image {
			//background: url(#{$themePath}images/second_image_tablet.jpg) top left no-repeat;
			background-size:549px;
			a.consult_button {
				margin-top: -203px;
			}
		}
		img.second_image {
			margin: -355px 0 0 67px;
			max-width:315px;
		}
	}
	
	
	.bottom_content_left {
		flex-basis: auto;
		width:675px;
		margin-top: 78px;
	}
	
	img.video_banner {
		max-width:617px;
		top: -52px;
	}
	
	
	.sec_three_play {
		width:118px;
		height:118px;
		margin: -113px auto 0;
		&:before {
			top: 51px;
			left: 54px;
		}
	}
	
	
	
	
	
	.bottom_content_video {
		padding-bottom: 76px;
		.stars {
			margin: 53px 0 0;
			svg {
				width:62px;
				height:62px;
			}
		}
		a.consult_button {
			 margin: 67px auto 0;
			 width: 350px;
		}
	} 
	
	
	span.sec_three_test_quote {
		font-size:40px;
		line-height: 50px;
		max-width: 573px;
		margin: 31px auto 0;
		&:after {
			margin: 34px auto 0px;
		}
	}
	
	
	span.sec_three_test_content {
		font-size:20px;
		line-height: 36px;
		margin: 30px auto 0;
		max-width: 535px;
	}
	
	span.sec_three_disclaimer {
		margin: 62px auto 0;
		max-width: 541px;
	}
	
	.bottom_content_right {
		padding-left:3.5%;
		padding-bottom: 130px;
		.columns {
			margin-bottom:0;
		}
	}
	    
	
	   
	
} /* Media Query */


@media screen and (max-width: 1230px) {
	
	#section_three {
		overflow-x: hidden;
	}
	
.sec_three_inner {
	position: relative;
	h1 {
		padding-top:415px;
		span.top_line {
			font-size:126px;
			letter-spacing: 0.02em;
			span {
				&:before {
					width:8px;
					height:8px;
					left: -7px;
					margin: 50px 0 0 -10px;
				}
			}
		}
		span.bottom_line {
			font-size:63px;
			margin: -26px 0 0;
		}
	}
	blockquote {
/*
		font-size:43px;
		line-height: 60px;
		padding-top: 9px;
		margin-bottom: 30px;
*/
	}
}


.sec_three_top_content {
  margin: 56px 0 0;
}

.top_content_left {
	padding-left:72px;
	padding-right:72px;
}

.top_content_right {
	position: absolute;
	padding-left: 53px;
	top:0;
	right:0;
	width:100%;
	max-width: 799px;
	.first_image {
		background: url(#{$themePath}images/content1_img_01_tablet.jpg) top left;
		height:334px;
		width:100%;
		a.consult_button {
			margin-top: 13px;
		}
	}
}

img.second_image {
	display: none;
	width:100%;
	max-width:800px;
}


.sec_three_bottom_content {
	flex-direction: column;
	 margin: 15px 0 0;
}

.bottom_content_left {
	order:2;
	width:100%;
	margin-top: 40px;
}

.bottom_content_right {
	order:1;
	padding-left:72px;
	padding-right:72px;
	.columns {
		margin-bottom:0;
	}
}

img.video_banner {
	margin-left:auto;
	margin-right:auto;
	top: -65px;
}

.sec_three_play {
	margin: -126px auto 0;
}
	
	
.bottom_content_video {
	.stars {
		svg {
			width:62px;
		}
	}
}
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	.top_content_right {
		padding-left:0;
		.first_image {
			background-size: 767px;
			background: url(#{$themePath}images/content1_img_01_desktop.jpg) top center;
		}
	}
	
	
	.top_content_left {
		padding-left:22px;
		padding-right:22px;
	}
	
	
.sec_three_inner {
	
	h1 {
		padding-top: 484px;
		span.top_line {
			font-size:91px;
			line-height: 73px;
			max-width: 310px;
			margin-left:auto;
			margin-right:auto;
			span {
				&:before {
					display: none;
				}
			}
		}
		span.bottom_line {
			font-size:46px;
			max-width: 265px;
			margin: -2px auto 0;
		}
	}
	blockquote {
		
	}
}

.sec_three_top_content {
	 margin: 49px 0 0;
}


.bottom_content_right {
	padding-left:22px;
	padding-right:22px;
	padding-bottom: 100px;
	.columns {
		margin-bottom: 49px;
	}
}

img.video_banner {
	height:257px;
	width:100vh;
	margin-left:-22px;
}


.sec_three_play {
	width:87px;
	height:87px;
	margin: -106px auto 0;
	&:before {
		top: 35px;
    left: 39px;
	}
}


.bottom_content_video {
	padding-left:22px;
	padding-right:22px;
	.stars {
		margin: 40px 0 0;
		svg {
			width:40px;
			height:40px;
			.new_star-cls-1 {
				stroke-width:3;
			}
		}
	}
	a.consult_button {
		display: flex;
	}
}


span.sec_three_test_quote {
	 max-width: 433px;
}


span.sec_three_test_content {
	font-size: 18px;
	line-height: 32px;
	max-width: 415px;
}


span.sec_three_test_name {
 	margin-top: 21px;
}




	
span.sec_three_disclaimer {
  margin: 54px auto 0;
  max-width: 541px;
  padding: 40px 0px 0;
}


.bottom_content_video {
	padding-bottom: 64px;
	a.consult_button.mobile {
		.consult_right {
			svg {
				width: 7px;
			}
		}
	}
	a.consult_button {
		width:100%;
		margin: 45px auto 0;
		max-width:430px;
	}
}

	

   
	   
	
	
} /* Media Query */


@media screen and (max-width: 430px) {
	
	
	img.video_banner {
		margin-left:-140px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 400px) {
	
	
.bottom_content_video {
	a.consult_button.mobile {
		display: flex;
		width:100%;
		max-width: 267px;
	}
	a.consult_button.desktop {
		display:none;
	}
}

	
	
} /* Media Query */

