#section_one {
	background: url(#{$themePath}images/hero_img_desktop.jpg) top center no-repeat;
	background-size: cover;
	width:100%;
	height:960px;
	
	
}



.inner_sec_one {
	text-align: center;
	padding:197px 0 0 0;
	span.sec_one_title {
		color:#fff;
		font-family: $freightdisplay;
		font-weight: 400;
		font-size: 110px;
		line-height: 104px;
		display: block;
		max-width:1050px;
		margin:0 auto;
		br {
			display: none;
		}
		strong {
			font-weight: 300;
			color:$bluelight;
			font-family: $freightbigpro;
			font-weight: 500;
			font-style: italic;
		}
	}
	a.consult_button {
		margin: 32px auto 0;
	}
	a.consult_button.tablet {
		display: none;
	}
}


.sec_one_play {
	width:114px;
	height:114px;
	background: $bluelight;
	border-radius: 50%;
	position: relative;
	display: block;
	margin:0 auto 18px;
	cursor: pointer;
	transition: background 200ms ease-in-out;
	&:hover {
		background: $blue;
		&:before {
			border:1px solid $blue;
		}
	}
	&:before {
		content:"";
		width:133px;
		height:133px;
		display: block;
		border-radius: 50%;
		border:1px solid $bluelight;
		position: relative;
		top:-9.5px;
		left:-9.5px;
		transition: border 200ms ease-in-out;
	}
	&:after {
		content:"";
		display: block;
		width: 0; 
		height: 0; 
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 14px solid #fff;
		position: absolute;
		top:48px;
		left:53px;
	}
}


a.consult_button {
	width:450px;
	display: flex;
	height:78px;
	margin:45px auto 0;
	text-decoration: none;
	.consult_left {
		flex-grow: 1;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		color:$blue;
		text-transform: uppercase;
		font-family: $tekomedium;
		font-size:20px;
		letter-spacing: 0.16em;
		line-height: 1;
		padding-top:5px;
	}
	.consult_right {
		flex-basis: 80px;
		background: $bluelight;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 0;
		flex-shrink: 0;
		svg {
			fill:#fff;
			transform: rotate(-180deg);
			width:10px;
			height:15px;
		}
	}
}


.mouse_wrapper {
	width:20px;
	height:33px;
	border:2px solid #fff;
	margin: 67px auto 0;
	border-radius: 9px;
	display: none;
	&:before {
		content:"";
		width:2px;
		height:6px;
		background: #fff;
		display: block;
		margin:7px auto 0;
	}
}


a.free_bar {
	display: none;
}


.mobile_logo {
	display: none;
}


.sec_one_accolades_wrapper {
	width:100%;
	max-width:1070px;

	margin:96px auto 0;
	height:75px;
}


.sec_one_slideshow {
	width:100%;
	.sec_one_single_slide {
		text-align: center;
		height:99px;
		margin:0 0%;
		img {
			display: block;
			margin:0 auto;
			max-width:100%;
			height:auto;
		}
	}
	.one {
		img {
			width:194px;
			margin-top:31px;
		}
	}
	.two {
		img {
			width:240px;
		}
	}
	.three {
		img {
			width:100px;
		}
	}
}


.sec_one_button {
	display: none;
}

@media screen and (max-width: 1450px) {
	
	
	#section_one {
		background: url(#{$themePath}/images/hero_img_laptop.jpg) top center no-repeat;
		height: 930px;
	}
	
	.inner_sec_one {
		padding: 190px 0 0 0;
		span.sec_one_title {
			font-size: 110px;
			line-height: 104px;
			letter-spacing: 0;
			margin-top:20px;
			//max-width: 910px;
		}
		a.consult_button {
			width: 454px;
			height: 80px;
			margin-top:35px;
			.consult_left {
				font-size:20px;
				letter-spacing: 0.2em;
			}
		}
	}
	
	
	
	
a.consult_button {
	height:67px;
	margin: 36px auto 0;
	width: 362px;
	.consult_left {
		font-size:18px;
		letter-spacing: 0.1em;
	}
	.consult_right {
		flex-basis: 65px;
		svg {
			
		}
	}
}
	
	
	
	
	
	.mouse_wrapper {
		margin: 67px auto 0;
		height:29px;
		width:19px;
		&:before {
			height:4px;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1150px) {
	
	
	.inner_sec_one {
		span.sec_one_title {
			font-size:74px;
			line-height: 70px;
			max-width: 716px;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1060px) {
	
	#section_one {
		background: url(#{$themePath}images/hero_img_tablet.jpg) top center no-repeat;
		background-size:cover;
		height: 775px;
	}
	
	
	.inner_sec_one {
		padding: 152px 0 0 0;
		span.sec_one_title {
			max-width: 705px;
			font-size:73px;
			line-height: 73px;
		}
		a.consult_button {
			margin-top: 30px;
			height: 72px;
			font-size:18px;
			letter-spacing: 0.16em;
			width: 423px;
		}
		a.consult_button.desktop {
			display: none;
		}
		a.consult_button.tablet {
			display: flex;
		}
	}
	
	
	a.consult_button {
    margin: 32px auto 0;
   }
   
   
   .mouse_wrapper {
	   display: none;
   }


.sec_one_accolades_wrapper {
	display: flex;
	width:100%;
	max-width:750px;
	//background:red;
	justify-content: center;
	padding:0 60px;
	margin: 74px auto 0;
}   

.sec_one_slideshow {
	//background:blue;
	flex-grow:1;
	margin:0 auto;
}


.sec_one_button {
	display: flex;
	justify-content: center;
	//background: green;
	height:100%;
	padding-top:40px;
	cursor: pointer;
	svg {
		width:10px;
		height:20px;
		fill:#fff;
	}
}

.sec_one_next {
	svg {
		transform: rotate(-180deg);
	}
}


	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	#section_one {
		margin-top: 68px;
		height: 563px;
		background-size: 870px;
		background-position-y:-50px;
		background-size:cover;
		background: url(#{$themePath}images/hero_img_mobile.jpg) top center;
	}
	
	
	
	.inner_sec_one {
	 	padding: 155px 0 0 0;
		span.sec_one_title {
			font-size:54px;
			line-height: 51px;
			max-width: 334px;
			margin-top: 16px;
			br {
				display: inline-block;
			}
		}
		a.consult_button.tablet {
			display: none;
		}
	}
	
	
	a.consult_button {
		display: none;
	}
	
	
	a.free_bar {
		display: block;
		background: $bluelight;
		text-decoration:none;
		height: 75px;
		display: flex;
		justify-content: center;
		align-items: center;
		span.free_mobile_title {
			color:#fff;
			text-transform: uppercase;
			font-family: $tekoregular;
			font-size:18px;
			letter-spacing: 0.14em;
		}
		span.arrow {
			margin-left:25px;
			svg {
				width: 8px;
			  height: 12px;
			  fill:#fff;
			  transform: rotate(-180deg);
			}
			
		}
	}
	
	
	.mobile_logo {
		display: block;
		width:242px;
		margin:0 auto 58px;
	}
	
	
	.inner_sec_one {
    padding: 120px 0 0 0;
	}
	
	
	.sec_one_play {
		width:75px;
		height:75px;
		&:before {
			width:90px;
			height:90px;
			top:-7px;
			left:-7px;
		}
		&:after {
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: 12px solid #fff;
			top: 30px;
			left: 34px;
		}
	}
	
	
	.sec_one_accolades_wrapper {
		margin: 22px auto 0;
		max-width: 241px;
		padding-left:0;
		padding-right:0px;
	}
	
	
	.sec_one_button {
		padding-top: 43px;
		svg {
    	width: 8px;
			height: 14px;
  	}
	}
  
  .sec_one_slideshow {
	  .one {
		  img {
			  width: 169px;
		  }
	  }
	  .two {
		  img {
			 width: 197px;
		  }
	  }
	  .three {
		  img {
			 width: 80px;
		  }
	  }
  }
	    
	
	
	
} /* Media Query */