
#section_two {
	width:100%;
	padding: 0 45px 80px;
	overflow-x: hidden;
}

.inner_sec_two {
	max-width: 1815px;
	margin:0 auto;
	width:100%;
	
}


.sec_two_title_wrapper {
	text-align: center;
	margin:169px 0 0;
	width:100%;
	position: relative;
	z-index: 1;
	pointer-events: none;
	span.sec_two_title {
		display: inline-block;
		font-size:26px;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		font-family: $tekoregular;
		border-bottom:1px solid $bluelight;
		padding-bottom:4px;
	}
}


.sec_two_slider {
	width:100%;
	display: flex;
	margin:-115px 0 0;
}

.sec_two_single_slide {
		width:33.333%;
		border:1px solid transparent;
		height:725px;
		text-align: center;
		transition: border 200ms ease-in-out;
	.sp_wrapper {
		padding:235px 0 0;
		transform: translateY(0);
		transition: transform 900ms cubic-bezier(.17,.66,.34,.98);
		svg {
			width:160px;
			height: 124px;
		}
	}
	span.slide_title {
		font-family: $freightdisplay;
		font-weight: 400;
		color:$blue;
		font-size:46px;
		line-height: 54px;
		 max-width: 400px;
		display: block;
		margin:50px auto 0;
		br {
			display: none;
		}
		strong {
			font-weight: 400;
			color:#abacb2;
		}
	}
	a.view_button {
		background: $bluelight;
		color:#fff;
		text-transform: uppercase;
		font-family: $tekomedium;
		font-size:20px;
		letter-spacing: 0.16em;
		text-decoration: none;
		display: inline-block;
		margin:40px auto;
		padding:26px 24px 20px;
		transition: background 200ms ease-in-out, opacity 200ms ease-in-out;
		opacity: 0;
		&:hover {
			background: $blue;
		}
	}
}




.sec_two_single_slide {
	&:hover {
		border:1px solid $bluelight;
		.sp_wrapper {
			transform: translateY(-70px);
		}
		a.view_button {
			opacity: 1;
		}
	}
}



@media screen and (max-width: 1450px) {
	
	
	.sec_two_title_wrapper {
		 margin: 131px 0 0;
		 
		span.sec_two_title {
			
		}
	}
	
	
	
	
.sec_two_slider {
	margin: 38px 0 0;
}

.sec_two_single_slide {
	height: 570px;
	.sp_wrapper {
		padding: 185px 0 0;
		svg {
			width:135px;
			height: 105px;
		}
	}
	span.slide_title {
		font-size:40px;
		line-height: 46px;
		margin: 38px auto 0;
		strong {
			
		}
	}
	a.view_button {
		margin: 47px auto;
		padding: 23px 24px 17px;
		&:hover {
		
		}
	}
}



	
} /* Media Query */




@media screen and (max-width: 1230px) {
	
	#section_two {
		padding-bottom:13px;
	}
	
	.sec_two_title_wrapper {
		 margin: 85px 0 0;
		 
		span.sec_two_title {
			
		}
	}
	
	
	
	
.sec_two_slider {
	margin: 61px auto 0;
	max-width:600px;
	.slick-dots {
		bottom: 50px;
		li.slick-active {
			button {
				&:before {
					color:$bluelight;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$bluelight;
				}
			}
		}
		li {
			margin:0;
			width:20px;
			button {
				width:20px;
				&:before {
					width:20px;
					opacity: 1;
					color: #abacb2;
					font-size:33px;
				}
			}
		}
	}
}

.sec_two_single_slide {
	border:1px solid $bluelight;
	.sp_wrapper {
		padding: 90px 0 0;
		svg {
			
		}
	}
	span.slide_title {
		margin: 22px auto 0;
		strong {
			
		}
	}
	a.view_button {
		opacity: 1;
		margin:63px auto 0;
		padding: 24px 24px 20px;
		&:hover {
		
		}
	}
	
}



.sec_two_single_slide {
	
	&:hover {
		border:1px solid $bluelight;
		.sp_wrapper {
			transform: translateY(0px);
		}
		a.view_button {
			opacity: 1;
		}
	}
}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	
	
	.sec_two_slider {
		max-width: 553px;
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	

	
	
	#section_two {
		padding-left:20px;
		padding-right:20px;
	}
	
	
	
	.sec_two_title_wrapper {
		margin: 78px 0 0;
		span.sec_two_title {
			font-size:22px;
		}
	}
	
	
	
	.sec_two_slider {
		margin: 37px auto 0;
		max-width:350px;
	}
	
	
	
.sec_two_single_slide {
	 height: 521px;
	 padding-left:20px;
	 padding-right:20px;
	.sp_wrapper {
	  padding: 62px 0 0;
		svg {
			
		}
	}
	span.slide_title {
		font-size:33px;
		line-height: 38px;
		max-width: 330px;
		br {
			display: inline-block;
		}
		strong {
			
		}
	}
	a.view_button {
		font-size:18px;
		margin: 43px auto 0;
		padding: 19px 24px 17px;
		&:hover {
		
		}
	}
	
}


	


	
	
	
} /* Media Query */




