#section_one {
	background: url(#{$themePath}images/hero_img_desktop.jpg) top center no-repeat;
	background-size: cover;
	width:100%;
	height:840px;
	
	
}



.inner_sec_one {
	text-align: center;
	padding:260px 0 0 0;
	span.sec_one_title {
		color:#fff;
		font-family: $freightdisplay;
		font-weight: 400;
		font-size: 110px;
		line-height: 104px;
		display: block;
		max-width:1050px;
		margin:0 auto;
		br {
			display: none;
		}
		strong {
			font-weight: 300;
			color:$bluelight;
			font-family: $freightbigpro;
			font-weight: 500;
			font-style: italic;
		}
	}
}


a.consult_button {
	width:450px;
	display: flex;
	height:78px;
	margin:45px auto 0;
	text-decoration: none;
	.consult_left {
		flex-grow: 1;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		color:$blue;
		text-transform: uppercase;
		font-family: $tekomedium;
		font-size:20px;
		letter-spacing: 0.16em;
		line-height: 1;
		padding-top:5px;
	}
	.consult_right {
		flex-basis: 80px;
		background: $bluelight;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 0;
		flex-shrink: 0;
		svg {
			fill:#fff;
			transform: rotate(-180deg);
			width:10px;
			height:15px;
		}
	}
}


.mouse_wrapper {
	width:20px;
	height:33px;
	border:2px solid #fff;
	margin:117px auto 0;
	border-radius: 9px;
	&:before {
		content:"";
		width:2px;
		height:6px;
		background: #fff;
		display: block;
		margin:7px auto 0;
	}
}


a.free_bar {
	display: none;
}


@media screen and (max-width: 1450px) {
	
	
	#section_one {
		background: url(#{$themePath}/images/hero_img_laptop.jpg) top center no-repeat;
		height: 599px;
	}
	
	.inner_sec_one {
		padding:175px 0 0 0;
		span.sec_one_title {
			font-size: 90px;
			line-height: 85px;
			letter-spacing: 0;
			max-width: 910px;
		}
	}
	
	
	
	
a.consult_button {
	height:67px;
	margin: 36px auto 0;
	width: 362px;
	.consult_left {
		font-size:18px;
		letter-spacing: 0.1em;
	}
	.consult_right {
		flex-basis: 65px;
		svg {
			
		}
	}
}
	
	
	
	
	
	.mouse_wrapper {
		margin: 67px auto 0;
		height:29px;
		width:19px;
		&:before {
			height:4px;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1060px) {
	
	#section_one {
		background: url(#{$themePath}images/hero_img_tablet.jpg) top center no-repeat;
		height:631px;
	}
	
	
	.inner_sec_one {
		span.sec_one_title {
			max-width: 648px;
		}
	}
	
	
	a.consult_button {
    margin: 56px auto 0;
   }
   
   
   .mouse_wrapper {
	   display: none;
   }
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	#section_one {
		margin-top: 68px;
		height: 448px;
		background-size: 970px;
		background-position-y:-35px;
		//background: url(#{$themePath}images/hero_img_mobile.jpg) top center;
	}
	
	
	
	.inner_sec_one {
		padding: 110px 0 0 0;
		span.sec_one_title {
			font-size:54px;
			line-height: 51px;
			max-width: 334px;
			br {
				display: inline-block;
			}
		}
	}
	
	
	a.consult_button {
		display: none;
	}
	
	
	a.free_bar {
		display: block;
		background: $bluelight;
		text-decoration:none;
		height:68px;
		display: flex;
		justify-content: center;
		align-items: center;
		span.free_mobile_title {
			color:#fff;
			text-transform: uppercase;
			font-family: $tekoregular;
			font-size:18px;
			letter-spacing: 0.14em;
		}
		span.arrow {
			margin-left:25px;
			svg {
				width: 8px;
			  height: 12px;
			  fill:#fff;
			  transform: rotate(-180deg);
			}
			
		}
	}
	
	
	
	
	
} /* Media Query */