
#section_two {
	height:3000px;
	width:100%;
	
	
}

.inner_sec_two {
	max-width: 1815px;
	margin:0 auto;
	width:100%;
	
}


.sec_two_title_wrapper {
	text-align: center;
	margin:169px 0 0;
	width:100%;
	position: relative;
	z-index: 1;
	span.sec_two_title {
		display: inline-block;
		font-size:26px;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		font-family: $tekoregular;
		border-bottom:1px solid $bluelight;
		padding-bottom:4px;
	}
}


.sec_two_slider {
	width:100%;
	display: flex;
	margin:-115px 0 0;
}

.sec_two_single_slide {
		width:33.333%;
		border:1px solid $bluelight;
		height:725px;
	.sp_1_wrapper {
		padding:235px 0 0;
		text-align: center;
		svg {
			width:160px;
			height: 124px;
		}
	}
}