#section_four {
	width:100%;
	background: url(#{$themePath}images/caseresults_img_desktop.jpg) top center;
	background-size:cover;
}



.sec_four_inner {
	display: flex;
}



.sec_four_single {
	text-align: center;
	background:transparent;
	flex-basis: 25%;
	height:1022px;
	padding-top:135px;
	transition: background 200ms ease-in-out;
	.sec_four_single_inner {
		transform: translateY(0);
		padding-left:20px;
		padding-right:20px;
		transition: transform 900ms cubic-bezier(.17,.66,.34,.98);
	}
	span.cr_title {
		color:$bluelight;
		text-transform: uppercase;
		font-size:25px;
		font-family: $tekoregular;
		letter-spacing: 0.18em;
		display: block;
		margin-top:24px;
		position: relative;
		z-index:1;
	}
	span.cr_amount {
		font-size:116px;
		font-family: $tekoregular;
		color:#fff;
		margin-top:15px;
		display: block;
	}
	.accent {
		margin-top:38px;
		opacity: 1;
		transition: opacity 100ms ease-in-out;
		span {
			display: block;
			width:1px;
			height:78px;
			background: $bluelight;
			margin:0 auto;
		}
		.accent_diamond {
			
			svg {
				width:27px;
				height:27px;
			}
		}
	}
	span.cr_description {
		font-family: $helveticalight;
		font-size:22px;
		line-height: 38px;
		color:#6b6d76;
		display: block;
		max-width: 360px;
		margin:5px auto 0;
		opacity: 0;
		transition: opacity 500ms ease-in-out, transform 700ms cubic-bezier(.17,.66,.34,.98);
		transform: translateY(-30px);
		margin-top:-140px;
	}
	a.consult_button {
		margin: 71px auto 0;
		width:100%;
		max-width:308px;
		opacity: 0;
		transition: opacity 200ms ease-in-out, transform 200ms cubic-bezier(.17,.66,.34,.98);
		transform: translateY(-30px);
	}
}


.cr_svg {
	margin-top:-150px;
	position: relative;
	z-index:1;
	opacity: 0;
	transition: opacity 100ms ease-in-out;
	svg {
		width:61px;
		height:69px;
	}
}


.cr_diamond {
	margin-top:0px;
	opacity: 0;
	transition: opacity 100ms ease-in-out, transform 700ms cubic-bezier(.17,.66,.34,.98);
	transform: translateY(-30px);
	svg {
		width:222px;
		height:222px;
		.new_diamonds-cls-1 {
			stroke:#1c4362;
		}
	}
}



.sec_four_single {
	&:hover {
		background: $blue;
		.sec_four_single_inner {
			transform: translateY(30px);
		}
		.cr_svg {
			opacity: 1;
			transition: opacity 700ms ease-in-out;
		}
		.cr_diamond {
			opacity: 1;
			transition: opacity 700ms ease-in-out, transform 700ms cubic-bezier(.17,.66,.34,.98);
			transform: translateY(0);
			transition-delay: 100ms;
		}
		.accent {
			opacity: 0;
		}
		span.cr_description {
			opacity: 1;
			transition: opacity 700ms ease-in-out, transform 700ms cubic-bezier(.17,.66,.34,.98);
			transform: translateY(0);
			transition-delay: 100ms;
		}
		a.consult_button {
			display: flex;
			opacity: 1;
			transition: opacity 700ms ease-in-out, transform 700ms cubic-bezier(.17,.66,.34,.98);
			transform: translateY(0);
			transition-delay: 100ms;
		}
	}
}



.sec_four_disclaimer {
	padding:88px 0;
	span {
		display: block;
		text-align: center;
		font-size:16px;
		line-height: 30px;
		color:$blue;
		font-family: $helveticaregular;
		max-width:1225px;
		margin:0 auto;
	}
}


@media screen and (max-width: 1450px) {
	
	
	
	
	.sec_four_single {
		height:741px;
		padding-top: 85px;
		span.cr_amount {
			font-size: 90px;
			margin-top: 17px;
		}
		span.cr_title {
			margin-top: 26px;
		}
		.accent {
			margin-top: 34px;
		}
		span.cr_description {
			font-size:16px;
			line-height: 30px;
			margin-top: -118px;
			max-width: 260px;
		}
		a.consult_button {
			margin: 58px auto 0;
			max-width:250px;
		}
	}
	
	.cr_diamond {
		svg {
			height: 190px;
			width:190px;
			
		}
	}
	
	
	.cr_svg {
		margin-top: -127px;
		svg {
			width:53px;
			height: 55px;
		}
	}
	
	
	
	
	
.sec_four_single {
	&:hover {
		
		.sec_four_single_inner {
			transform: translateY(0px);
		}
		.cr_svg {
			
		}
		.cr_diamond {
			
		}
		.accent {
			
		}
		span.cr_description {
					}
		a.consult_button {
			
		}
	}
}



.sec_four_disclaimer {
	padding:72px 45px;
	
	span {
		font-size:16px;
		line-height: 26px;
	}
}

	
	
	
	
} /* Media Query */


@media screen and (max-width: 1230px) {
	
	
	#section_four {
		overflow-x: hidden;
		.slick-dotted.slick-slider {
			margin-bottom:0;
		}
	}
	
	.sec_four_single {
		height:705px;
		padding-top: 49px;
		.accent {
			margin-top: 25px;
			span {
				height: 74px;
			}
		}
		a.consult_button {
			margin: 45px auto 0;
		}
		span.cr_description {
			transform: translate(0);
		}
		a.consult_button {
			transform: translate(0);
			visibility: hidden;
		}
	}
	
	
	.sec_four_inner {
		.slick-dots {
			bottom: 33px;
			li.slick-active {
				button {
					&:before {
						color:#fff;
					}
				}
			}
			li:hover {
				button {
					&:before {
						color:#fff;
					}
				}
			}
			li {
				margin:0;
				width:20px;
				button {
					width:20px;
					&:before {
						width:20px;
						opacity: 1;
						color: $bluelight;
						font-size:31px;
					}
				}
			}
		}
	}
	
	.cr_diamond {
		transform: translate(0);
	}
	
	
	.sec_four_single {
		&:hover {
			background: transparent;
			.sec_four_single_inner {

			}
			.cr_svg {
				opacity: 0;
			}
			.cr_diamond {
				opacity: 0;
			}
			.accent {
				opacity: 1;
			}
			span.cr_description {
				opacity: 0;
			}
			a.consult_button {
				opacity: 0;
			}
		}
	}
	
	
	.sec_four_single.open {
			background: $blue;
			
			.sec_four_single_inner {
				
			}
			.cr_svg {
				opacity: 1;
			}
			.cr_diamond {
				opacity: 1;
			}
			.accent {
				opacity: 0;
			}
			span.cr_description {
				opacity: 1;
			}
			a.consult_button {
				opacity: 1;
				visibility: visible;
			}
		
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	
	
	.sec_four_disclaimer {
		padding:51px 45px;
		span {
			font-size:16px;
			line-height: 26px;
			max-width:630px;
		}
	}
	
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
	
	
	#section_four {
		
		.slick-dotted.slick-slider {
		
		}
	}
	
	.sec_four_single {
		height: 492px;
		padding-top: 97px;
		span.cr_title {
			margin-top:0;
		}
		.accent {
			
			span {
				
			}
		}
		a.consult_button {
			
		}
	}
	
	
	.sec_four_inner {
		
		.slick-dots {
			
			li.slick-active {
				button {
					&:before {
						
					}
				}
			}
			li:hover {
				button {
					&:before {
						
					}
				}
			}
			li {
				
				button {
					
					&:before {
						
					}
				}
			}
		}
	}
	
	.cr_diamond {
		display: none;
	}
	
	.cr_svg {
		display: none;
	}
	
	
	.sec_four_single.open {
			background: transparent;
			
			.sec_four_single_inner {
				
			}
			.cr_svg {
				opacity: 0;
			}
			.cr_diamond {
				opacity: 0;
			}
			.accent {
				opacity: 1;
			}
			span.cr_description {
				opacity: 0;
			}
			a.consult_button {
				opacity: 0;
			}
		
	}
	
	
	
	.sec_four_disclaimer {
		padding:60px 35px;
		span {
			font-size:16px;
			line-height: 26px;
			max-width:630px;
		}
	}



	
	
} /* Media Query */




