.footer_locations {
	width:100%;
	background: url(#{$themePath}images/footer_img_desktop.jpg) top center no-repeat;
	background-size: cover;
	height:1161px;
	display: flex;
}

.locations_left {
	width:46%;
	text-align: left;
	color:#fff;
	padding-left:5.5%;
	text-transform: uppercase;
	span.large_header {
		font-family: $tekoregular;
		font-size:230px;
		display: block;
		margin:435px 0 0;
		line-height: 1;
	}
	span.small_header {
		color:#fff;
		font-family: $freightbigpro;
		font-weight: 500;
		text-transform: lowercase;
		font-size:107px;
		margin-top:-50px;
		display: block;
		margin-left:20%;
		strong {
			font-weight: 500;
			color:$bluelight;
		}
	}
}


.locations_right {
	width:54%;
	background: #fff;
	margin:175px 0 0 0;
	padding-bottom:133px;
}



.location_slider {
	display: flex;
	flex-wrap: wrap;
	max-width: 722px;
	margin:0 auto;
	padding-top:20px;
}


.single_location_slide {
	margin:142px 0 0 0;
	flex-basis: 50%;
	flex-shrink:0;
	flex-grow:0;
	span.location_title {
		font-family: $tekoregular;
		text-transform: uppercase;
		font-size:40px;
		display: inline-block;
		color:#2c3246;
		border-bottom:1px solid $bluelight;
		padding:0 25px 9px;
	}
	span.address {
		display: block;
		font-size:25px;
		letter-spacing: -0.02em;
		line-height: 32px;
		color:#2c3246;
		font-family: $helveticalight;
		margin:17px 0 0;
	}
	a.get_directions_button {
		background: $bluelight;
		color:#fff;
		text-transform: uppercase;
		text-decoration: none;
		font-family: $tekomedium;
		font-size:17px;
		letter-spacing: 0.16em;
		display: inline-block;
		margin:25px 0 0;
		padding:22px 35px 18px;
		transition: all 200ms ease-in-out;
		&:hover {
			background: $blue;
		}
	}
	a.tel {
		font-family: $tekolight;
		font-size:38px;
		text-decoration: none;
		color:#abacb2;
		margin-top:45px;
		display: inline-block;
	}
}


.bottom_footer {
	width:100%;
	display: flex;
	height:140px;
}

.bottom_footer_left {
	background: $blue;
	flex-basis: 490px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	a.ilawyer {
		img {
			width:300px;
			display: block;
		}
	}
}

.bottom_footer_right {
	display: flex;
	padding-left:70px;
	padding-right:58px;
	justify-content: space-between;
	align-items: center;
	flex-grow:1;
}


.social_media {
	
	ul {
		list-style: none;
		margin:0;
		li {
			display: inline-block;
			vertical-align: middle;
			margin-right:30px;
			a {
				display: block;
				svg {
					height:25px;
					&:hover {
						.social-cls-1 {
							fill:$bluelight;
							transition: all 200ms ease-in-out;
						}
					}
					.social-cls-1 {
						fill:$blue;
					}
				}
			}
			a.twitter {
				svg {
					height:21px;
				}
			}
			a.google {
				svg {
					height:23px;
				}
			}
			a.youtube {
				svg {
					height:22px;
				}
			}
		}
	}
}


.copyright {
	ul {
		list-style: none;
		margin:0;
		li {
			display: inline-block;
			font-family: $helveticalight;
			font-size: 15px;
			color:$blue;
			line-height: 20px;
			br {
				display: none;
			}
			a {
				color:$blue;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$bluelight;
				}
			}
		}
	}
}


.mobile_social_wrapper {
	display: none;
}


@media screen and (max-width: 1780px) {
	
	
	.locations_left {
		padding-left:3%;
		span.small_header {
			margin-left:10%;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1600px) {
	
	
	
	.locations_left {
		span.small_header {
			margin-left:6%;
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1460px) {
	
	
	
	.footer_locations {
		height:845px;
		background-position: top right;
	}
	
	.locations_left {
		padding-left:5%;
		span.large_header {
			font-size:176px;
			margin: 315px 0 0;
		}
		span.small_header {
			font-size:81px;
			margin-top: -40px;
			margin-left: 20%;
		}
	}
	
	
	.locations_right {
		margin: 105px 0 0 0;
	}
	
	
	.location_slider {
		padding-top:21px;
	}
	
.single_location_slide {
	margin: 63px 0 0 0;
	span.location_title {
		
	}
	span.address {
		font-size:20px;
		line-height: 25px;
	}
	a.get_directions_button {
		margin: 30px 0 0;
		padding: 18px 26px 14px;
		&:hover {
			
		}
	}
	a.tel {
		font-size:35px;
		margin-top: 38px;
	}
}
	
	
	
	.bottom_footer {
		height:125px;
	}
	
	.bottom_footer_left {
		flex-basis: 465px;
	}
	
	.bottom_footer_right {
		padding-left: 41px;
	}
	
	    
	
	
	
} /* Media Query */


@media screen and (max-width: 1348px) {
	
	
	
	.locations_left {
		
		span.large_header {
			
		}
		span.small_header {
			margin-left: 10%;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1300px) {
	
	
	
	
.bottom_footer_left {
		flex-basis: 375px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1220px) {
	
	
	
	.footer_locations {
		
	}
	

	.locations_left {
    padding-left: 3%;
}





} /* Media Query */



@media screen and (max-width: 1299px) {
	
	.bottom_footer_left {
		flex-basis: 330px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1150px) {
	
	
	.footer_locations {
		flex-direction: column;
		background-position: top left;
		background-size:auto 823px;
		padding-left: 38px;
    padding-right: 38px;
	}
	
	.locations_right {
		position: relative;
		z-index:1;
	}
	   
	.locations_left {
		width:100%;
		padding-left:0px;
		max-width: 760px;
		margin-left:auto;
		margin-right:auto;
		span.large_header {
			 margin: 114px 0 0;
		}
		span.small_header {
			margin-left: 16%;
		}
	}
	
	
	
	
	
	.locations_right {
		width:100%;
		max-width: 780px;
		margin-left:auto;
		margin-right:auto;
		padding-bottom:37px;
	}
	
	
	.location_slider {
    padding-top: 0px;
	}
	
	.single_location_slide {
		margin: 85px 0 0 0;
	}
	
	
	
	.bottom_footer {
		margin-top: -22px;
		height:645px;
		.bottom_footer_left {
			flex-basis: 100%;
			align-items: flex-end;
			
		}
		.bottom_footer_right {
			display: none;
		}
	}
	
	a.ilawyer {
		position: relative;
		top:-47px;
	} 
	
	.mobile_social_wrapper {
		display: block;
		margin:75px 0 0;
}
	
	
	
.social_media {
	margin-bottom:47px;
	ul {
	
		li {
			
			a {
				
				svg {
					height:21px;
					&:hover {
						.social-cls-1 {
							fill:$bluelight;
							transition: all 200ms ease-in-out;
						}
					}
					.social-cls-1 {
						fill:$blue;
					}
				}
			}
			a.twitter {
				svg {
					height:18px;
				}
			}
			a.google {
				svg {
					height:22px;
				}
			}
			a.youtube {
				svg {
					height:22px;
				}
			}
		}
	}
}


	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	.footer_locations {
		padding-left:20px;
		padding-right:20px;
		background-size: auto 767px;
		background: url(#{$themePath}images/footer_img_mobile.jpg) top center no-repeat;;
	}
	
	
	.locations_left {
		max-width: 510px;
		span.large_header {
			font-size:90px;
			margin: 70px 0 0;
		}
		span.small_header {
			font-size:46px;
			margin-top: -19px;
			margin-left: 14%;
		}
	}
	
	
	.locations_right {
		margin-top: 76px; 
		max-width: 510px;
		padding-bottom: 59px;
		padding-left:20px;
		padding-right:20px;
	}
	
	
	.location_slider {
	
		.slick-dots {
		bottom: -54px;
		li.slick-active {
			button {
				&:before {
					color:$bluelight;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$bluelight;
				}
			}
		}
		li {
			margin:0;
			width:20px;
			button {
				width:20px;
				&:before {
					width:20px;
					opacity: 1;
					color: #abacb2;
					font-size:33px;
				}
			}
		}
	}
	}
	
	.single_location_slide {
		margin: 75px 0 0 0;
		span.address {
			font-size:17px;
			line-height: 22px;
		}
		a.get_directions_button {
			margin: 35px 0 0;
		}
		a.tel {
			margin-top: 36px;
		}
		
	}
	
	.mobile_social_wrapper {
		margin: 126px 0 0;
	}
	
	.social_media {
    margin-bottom: 62px;
   ul {
	    display: flex;
	    justify-content: space-between;
	    width:100%;
	    max-width:230px;
	    margin-left:auto;
	    margin-right:auto;
	   	li {
		    display: block;
		    margin:0;
		   }
    }
	}
	
	
	.copyright {
		ul {
			li {
				display: inline;
				br {
			    display: inline-block;
		    }
				a {
					
				}
			}
		}
	}
	
	.bottom_footer {
		margin-top: -294px;
		height: 483px;
	}
	
	.bottom_footer_left {
		a.ilawyer {
    top: -52px;
    img {
	    width:280px;
    }
	}
	}
	
	
} /* Media Query */




@media screen and (max-width: 600px) {
	
	
	
	.locations_left {
	
		span.large_header {
			
			
		}
		span.small_header {
			
			margin-left: 8.5%;
		}
	}
	
	
	
	
	
} /* Media Query */