footer {
	text-align: center;
	//height:3000px;
}


.inner_footer {
	max-width:1200px;
	margin:0 auto;
	padding: 185px 0 179px;
	span.footer_title {
		font-size:180px;
		letter-spacing: 0.02em;
		font-family: $tekoregular;
		color:$blue;
		text-transform: uppercase;
		display: block;
		span {
			width:12px;
			height:12px;
			background: $bluelight;
			display: inline-block;
			transform: rotate(-45deg);
			vertical-align: middle;
			position: relative;
			top:-15px;
			left:7px;
		}
	}
	span.small_footer_title {
		font-family: $freightbigpro;
		font-weight: 500;
		font-size:90px;
		color:#abacb2;
		display: block;
		margin-top:-40px
	}
}



.form_wrapper {
	max-width:1060px;
	margin:55px auto 0;
	ul {
		list-style: none;
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		li#field_1_3 {
			.gfield_description {
				display: none;
			}
		}
		li#field_1_4 {
			flex-basis: 100%;
			margin-bottom:0;
			.gfield_description, .validation_message {
				bottom:20px;
				top:auto;
			}
		}
		li ::-webkit-input-placeholder {
        color: $blue; }
		li ::-moz-placeholder {
        color: $blue; }
		li :-moz-placeholder {
        color: $blue; }
		li :-ms-input-placeholder {
        color: $blue; }
		li ::-moz-placeholder {
        opacity: 1; }
		li {
			flex-basis:48.5%;
			margin-bottom:34px;
			position: relative;
			&:after {
				content:"";
				width:6px;
				height:6px;
				background: $bluelight;
				display: block;
				transform: rotate(-45deg);
				position: absolute;
				top:32px;
				right:29px;
			}
			label {
				display: none;
			}
			input,textarea {
				border:1px solid $bluelight;
				width:100%;
				font-family: $freightdisplay;
				font-weight: 400;
				font-size:22px;
				text-transform: lowercase;
				color:$blue;
				padding:17px 50px 17px 22px;
				background:transparent;
				transition: background 200ms ease-in-out;
				&:focus {
					background:#f1fafd;
				}
			}
			textarea {
				height: 220px;
			}
		}
	}
	input[type="submit"] {
		background: $bluelight;
		border:none;
		width:100%;
		display: block;
		margin-top:-10px;
		color:#fff;
		text-transform: uppercase;
		font-family: $tekomedium;
		font-size:20px;
		padding:26px 0;
		letter-spacing: 0.16em;
		cursor: pointer;
		transition: all 200ms ease-in-out;
		position: relative;
		z-index:1;
		&:hover {
			background: $blue;
		}
	}
}

.validation_error {
	display: none;
}


.gfield_description, .validation_message {
	color:$bluelight;
	text-transform: lowercase;
	text-align: left;
	position: absolute;
	top: 69px;
	left:26px;
}




li ::-webkit-input-placeholder {
        color: #000; }
li ::-moz-placeholder {
        color: #000; }
li :-moz-placeholder {
        color: #000; }
li :-ms-input-placeholder {
        color: #000; }
 li ::-moz-placeholder {
        opacity: 1; }



span.required {
	text-transform: lowercase;
	text-align: right;
	display: block;
	font-family: $freightdisplay;
	font-weight: 400;
	font-size:20px;
	color:#2c3246;
	margin-top:23px;
	&:after {
		content:"";
		width:6px;
		height:6px;
		background: $bluelight;
		display: inline-block;
		transform: rotate(-45deg);
		vertical-align: top;
		margin-top:8px;
		margin-left:8px;
	}
}




@media screen and (max-width: 1450px) {
	
	
	
	
.inner_footer {
	padding: 149px 45px 130px;
	
	span.footer_title {
		font-size: 157px;
		span {
			
		}
	}
	span.small_footer_title {
		font-size:79px;
		margin-top: -38px;
	}
}


.form_wrapper {
  margin: 69px auto 0;
}

	
	
	
} /* Media Query */



@media screen and (max-width: 1080px) {
	
	
	
	.inner_footer {
		padding: 104px 70px 107px;
		max-width:880px;
		span.footer_title {
			font-size:130px;
			line-height: 113px;
			span {
				display: none;
			}
		}
		span.small_footer_title {
			font-size:62px;
			margin-top: -8px;
		}
	}
	
	
	
	.form_wrapper {
		margin: 70px auto 0;
		ul {
			li {
				flex-basis: 100%;
				&:after {
					right: 24px;
				}
				label {
					
				}
				input,textarea {
					
				}
			}
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	

	.inner_footer {
		padding: 81px 20px 69px;
		max-width: 400px;
		span.footer_title {
			font-size:60px;
			max-width: 290px;
			margin:0 auto;
			line-height: 53px;
			span {
				
			}
		}
		span.small_footer_title {
			font-size:37px;
			margin: -6px auto 0;
			display:block;
			max-width: 210px;
		}
	}

	.form_wrapper {
    margin: 46px auto 0;
    ul {
	    li {
		    margin-bottom: 22px;
		    &:after {
			    top: 23px;
			    right: 18px;
		    }
		    label {
			    
		    }
		    input,textarea {
			    font-size:18px;
			     padding: 12px 50px 13px 13px;
		    }
		    textarea {
			    height: 149px;
		    }
	    }
    }
    input[type="submit"] {
	    font-size:18px;
    }
	}
	
	
	span.required {
		font-size: 18px;
		margin-top: 18px;
	}
	
	
	.gfield_description, .validation_message {
		top: 53px;
		left:13px;
		font-size:15px;
	}
	
	
	
} /* Media Query */