.footer_locations {
	width:100%;
	background: url(#{$themePath}images/footer_img_desktop.jpg) top center no-repeat;
	background-size: cover;
	height:1161px;
	display: flex;
	overflow: hidden;
}

.locations_left {
	width:46%;
	text-align: left;
	color:#fff;
	padding-left:5.5%;
	text-transform: uppercase;
	span.large_header {
		font-family: $tekoregular;
		font-size:230px;
		display: block;
		margin:435px 0 0;
		line-height: 1;
	}
	span.small_header {
		color:#fff;
		font-family: $freightbigpro;
		font-weight: 500;
		text-transform: lowercase;
		font-size:107px;
		margin-top:-50px;
		display: block;
		margin-left:20%;
		strong {
			font-weight: 500;
			color:$bluelight;
		}
	}
}


.locations_right {
	width:54%;
	background: #fff;
	margin:175px 0 0 0;
	padding-bottom:133px;
}



.location_slider {
	display: flex;
	flex-wrap: wrap;
	max-width: 722px;
	margin:0 auto;
	padding-top:20px;
}


.single_location_slide {
	margin:142px 0 0 0;
	flex-basis: 50%;
	flex-shrink:0;
	flex-grow:0;
	span.location_title {
		font-family: $tekoregular;
		text-transform: uppercase;
		font-size:40px;
		display: inline-block;
		color:#2c3246;
		border-bottom:1px solid $bluelight;
		padding:0 25px 9px;
	}
	span.address {
		display: block;
		font-size:25px;
		letter-spacing: -0.02em;
		line-height: 32px;
		color:#2c3246;
		font-family: $helveticalight;
		margin:17px 0 0;
	}
	a.get_directions_button {
		background: $bluelight;
		color:#fff;
		text-transform: uppercase;
		text-decoration: none;
		font-family: $tekomedium;
		font-size:17px;
		letter-spacing: 0.16em;
		display: inline-block;
		margin:25px 0 0;
		padding:22px 35px 18px;
		transition: all 200ms ease-in-out;
		&:hover {
			background: $blue;
		}
	}
	a.tel {
		font-family: $tekolight;
		font-size:38px;
		text-decoration: none;
		color:#abacb2;
		margin-top:45px;
		display: inline-block;
	}
}


@media screen and (max-width: 1780px) {
	
	
	.locations_left {
		padding-left:3%;
		span.small_header {
			margin-left:10%;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1600px) {
	
	
	
	.locations_left {
		span.small_header {
			margin-left:6%;
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1460px) {
	
	
	
	.footer_locations {
		height:845px;
		background-position: top right;
	}
	
	.locations_left {
		padding-left:5%;
		span.large_header {
			font-size:176px;
			margin: 315px 0 0;
		}
		span.small_header {
			font-size:81px;
			margin-top: -40px;
			margin-left: 20%;
		}
	}
	
	
	.locations_right {
		margin: 105px 0 0 0;
	}
	
	
	.location_slider {
		padding-top:21px;
	}
	
.single_location_slide {
	margin: 63px 0 0 0;
	span.location_title {
		
	}
	span.address {
		font-size:20px;
		line-height: 25px;
	}
	a.get_directions_button {
		margin: 30px 0 0;
		padding: 18px 26px 14px;
		&:hover {
			
		}
	}
	a.tel {
		font-size:35px;
		margin-top: 38px;
	}
}
	
	
	
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1348px) {
	
	
	
	.locations_left {
		
		span.large_header {
			
		}
		span.small_header {
			margin-left: 10%;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1220px) {
	
	
	
	.footer_locations {
		
	}
	

	.locations_left {
    padding-left: 3%;
}





} /* Media Query */



@media screen and (max-width: 1150px) {
	
	
	.footer_locations {
		flex-direction: column;
			background-position: top left;
	}
	
	
	   
	
	
	.locations_left {
		span.large_header {
			 margin: 114px 0 0;
		}
	}
	
	
	.locations_left, .locations_right {
		flex-basis: 100%;
	}
	
	
	
} /* Media Query */