footer {
	text-align: center;\height:3000px;
}


.inner_footer {
	max-width:1200px;
	margin:0 auto;
	padding:185px 0 0;
	span.footer_title {
		font-size:180px;
		letter-spacing: 0.02em;
		font-family: $tekoregular;
		color:#2c3246;
		text-transform: uppercase;
		display: block;
		span {
			width:12px;
			height:12px;
			background: $bluelight;
			display: inline-block;
			transform: rotate(-45deg);
			vertical-align: middle;
			position: relative;
			top:-15px;
			left:7px;
		}
	}
	span.small_footer_title {
		font-family: $freightbigpro;
		font-weight: 500;
		font-size:90px;
		color:#abacb2;
		display: block;
		margin-top:-30px
	}
}