.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 14px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 14px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}


.content {
	font-family: $helveticalight;
	font-size:18px;
	color:$blue;
	line-height: 35px;
	strong {
		font-weight: 300;
		font-family: $helveticabold;
	}
	h1.pa_title {
		color:$blue;
		text-transform: uppercase;
		font-size:100px;
		font-family: $teko;
		line-height: 97px;
		font-weight: 400;
		font-style: normal;
		padding-bottom:5px;
	}
	a {
		color:$bluelight;
		text-decoration: none;
		transition: all 200ms ease-in-out;
		&:hover {
			color:#abacb2;
		}
	}
	p,ul,ol {
		margin-bottom:14px;
		//margin-bottom: 34px;
	}
	h2 {
		color:$bluelight;
		font-family: $helveticabold;
		font-size:28px;
		line-height: 35px;
		padding: 15px 0 3px;
		font-weight: 300;
		font-style: normal;
	}
	h3 {
		font-family:$teko;
		font-weight: 500;
		font-size:24px;
		line-height: 26px;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		color:$blue;
		
		font-style: normal;
		padding:12px 0 8px;
	}
	ol {
			list-style: none;
			counter-reset: item;
			> li {
				counter-increment: item;
				//margin-bottom: 5px;
				position: relative;
				padding-left:30px;
	 		}
	 		> li:before {
	 				margin-right: 10px;
	 				content: counter(item)".";
	 				color: $bluelight;
	 				width: 1em;
	 				display: inline-block;
	 				font-family: $helveticabold;
	 				position: absolute;
	 				top:0;
	 				left:0;
	 			}
		}
	ul {
		list-style: none;
		li {
			position: relative;
			padding-left:15px;
			margin-bottom:0px;
			&:before {
				content:"";
				width:5px;
				height:5px;
				background: $bluelight;
				display: block;
				position: absolute;
				top:15px;
				left:0;
				border-radius: 50%;
			}
		}
	}
	blockquote {
		border-top:1px solid $bluelight;
		font-size: 48px;
		color:$blue;
		font-family: $freightdisplay;
		font-weight: 400;
		line-height: 66px;
		margin-top:40px;
		padding-top:29px;
		margin-bottom: 49px;
		max-width: 820px;
	}
}


@media screen and (max-width: 1450px) {
	
	.content {
		blockquote {
			padding-top: 13px;
			font-size:43px;
			line-height: 60px;
			margin-bottom: 45px;
		}
	}
	
} /* Media Query */

@media screen and (max-width: 1297px) {
	
	
	.content {
		h1.pa_title {
			font-size: 92px;
			line-height: 86px;
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
/*
	.content {
		blockquote {
			padding-top: 13px;
			font-size:43px;
			line-height: 60px;
			margin-bottom: 36px;
		}
	}
*/
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:14px 0 10px;
	float:left;
	max-width:100%;
	height:auto;
	display: block;
}


.alignleft,img.alignleft {
	margin-right:15px;
}


.alignright,img.alignright {
	margin-left:15px;
}
	
	
	.content {
		font-size:16px;
		line-height: 30px;
		p,ul {
		
		margin-bottom: 10px;
	}
		h1.pa_title {
			font-size: 61px;
			line-height: 57px;
		}
		h2 {
			font-size:24px;
			line-height: 34px;
		}
		h3 {
			font-size:22px;
			line-height: 27px;
			padding:10px 0 5px 0px;
		}
		p,ul {
			// margin-bottom:8px;
		}
		blockquote {
			font-size:34px;
			line-height: 50px;
			padding-top: 7px;
			margin-bottom: 34px;
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 400px) {
	

	

.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:14px 0 10px;
	float:none;
	max-width:100%;
	height:auto;
	display: block;
}
	
	
	
} /* Media Query */