
@keyframes arrow_move {
  0 {
    transform: translateX(0px) rotate(180deg);
 		
  }
  
 50% {
    transform: translateX(-6px) rotate(180deg);
    
  }
  
  100% {
	  transform: translateX(0px) rotate(180deg)
  }
}


@keyframes mouse_move {
  0 {
    transform: translateY(0px);
 		
  }
  
 50% {
    transform: translateY(-9px);
    
  }
  
  100% {
	  transform: translateY(0px);
  }
}



