h1.blog_title {
	font-family: $freightdisplay;
	font-size:120px;
	font-weight: 400;
	color:$blue;
	font-style: normal;
	text-transform: lowercase;
	margin:10px 0 0px;
	display: block;
	line-height: 1;
}

.post_wrapper {
	padding:55px 0 0;
}

.single_post {
	border-bottom:1px solid $bluelight;
	padding-bottom:87px;
	margin-bottom:54px;
}

.content {
	.meta {
		text-transform: uppercase;
		color:$blue;
		font-size:16px;
		font-family: $helveticabold;
		letter-spacing: 0.04em;
		ul {
			margin-bottom: 0;
			display: inline;
			li {
				padding:0;
				display: inline;
				margin:0;
				&:last-of-type {
					a {
						cursor: pointer;
						transition: all 200ms ease-in-out;
						&:after {
							display: none;
						}
					}
				}
				&:before {
					display: none;
				}
				a {
					color:$blue;
					&:hover {
						color:$greythree;
					}
					&:after {
						content:",";
						display: inline;
					}
				}
			}
		}
	}
}

.post_content {
	margin-top:19px;
}



a.blog_read_more {
	background: $bluelight;
	color:#fff;
	text-transform: uppercase;
	font-family: $tekomedium;
	letter-spacing: 0.16em;
	font-size:20px;
	margin-top:37px;
	display: inline-block;
	padding:17px 30px 13px;
	transition: all 200ms ease-in-out;
	&:hover {
		color:#fff;
		background: $blue;
	}
}


body.single {
	h1.pa_title {
		margin-top:20px;
	}
	.meta {
		margin-bottom:30px;
		span {
			color:$bluelight;
			a {
				color:$bluelight;
				&:hover {
				
				}
			}
		}
	}
}


@media screen and (max-width: 1297px) {
	
	
	h1.blog_title {
		font-size:100px;
		margin-top:-20px;
	}

	.post_wrapper {
    padding: 35px 0 0;
	}
	
	
	
	.single_post {
   	padding-bottom: 71px;
    margin-bottom: 37px;
	}
	
	a.blog_read_more {
		padding: 13px 26px 9px;
	}
	
body.single {
	h1.pa_title {
		margin-top:0px;
	}
	.meta {
	
		span {
			
			a {
				
				&:hover {
				
				}
			}
		}
	}
}

	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	
	h1.blog_title {
		font-size:65px;
		margin-top:-25px;
	}
	
	.post_wrapper {
    padding: 0px 0 0;
    //margin-top:-20px;
	}
	
	
	a.blog_read_more {
		padding: 10px 21px 6px;
	}
	
	
	
	.single_post {
    padding-bottom: 50px;
    margin-bottom: 20px;
	}
	
	
	
body.single {
	h1.pa_title {
		
	}
	.meta {
		margin-bottom: 22px;
		span {
			
			a {
				
				&:hover {
				
				}
			}
		}
	}
}

	
	
	
	
	
	
} /* Media Query */

