.about_wrapper {
	text-align: center;
	padding:89px 0 0;
	h1 {
		font-weight: 300;
		font-style:normal;
		span.about_topline {
			font-family: $teko;
			font-weight: 400;
			font-size:215px;
			letter-spacing: 0.04em;
			display: block;
			text-transform: uppercase;
			color:$blue;
			span {
				&:before {
					content:"";
					width:13px;
					height:13px;
					display: inline-block;
					background: $bluelight;
					transform: rotate(-45deg);
					vertical-align: top;
					margin:85px 0 0 0;
					position: relative;
					left:-28px;
				}
			}
		}
		span.about_bottomline {
			color:#abacb2;
			font-family: $freightbigpro;
			font-weight: 400;
			font-style: italic;
			font-size: 86px;
			display: block;
			margin:-25px 0 0 0;
		}
	}
}


#about_section {
	width:100%;
	background:#f0f0f1;
	margin:153px 0 0px 0%;
	display: flex;
	padding-bottom:75px;
	color:$blue;
	.about_img {
		width:790px;
		flex-shrink: 0;
		flex-grow:0;
		img {
			margin-top:-42px;
			max-width:100%;
			height:auto;
			display: block;
		}
		img.img_desktop {
			display: block;
		}
		img.img_tablet {
			display: none;
		}
	}
	
	.about_content_one {
		padding:101px 8% 0 5%;
		width:calc(100% - 790px);
		span.intro {
			font-family: $freightdisplay;
			font-weight: 400;
			font-size:30px;
			line-height: 43px;
			display: block;
			margin-bottom:37px;
		}
		
	}
}


	ul.columns {
			column-count:2;
			column-gap:45px;
			padding-top:10px;
			li {
				line-height: 26px;
			}
		}



.about_section_two {
	display: flex;
	
}


.about_content_two {
	margin:105px 0 0 0;
	padding-left:8%;
	
	width:calc(100% - 854px);
	padding-right: 8%;
	blockquote {
		//max-width: 748px;
	}
}


.about_img_two {
	width:854px;
	margin:130px 0 0 0;
	img {
		display: block;
		max-width:100%;
		height: auto;
		display: block;
	}
	img.img_one.tablet {
		display: none;
	}
	img.img_two {
		margin-top:-134px;
		margin-left:81px;
	}
	.img_content {
		margin-top:50px;
		padding-right:17%;
	}
}


body.page-template-page-about_espanol .about_img_two img.img_two {
	margin-top: -184px;
}


#about_section_three {
	display: flex;
	margin:202px 0 0;
	
}


.about_image_three {
	background: #f0f0f1;
	width:783px;
	padding-right: 54px;
	padding-bottom:120px;
	img {
		margin-top:-80px;
	}
}

.about_imge_three_side_content {
	padding-left:15%;
	span.side_title {
		display: block;
		font-family: $teko;
		font-weight: 400;
		text-transform: uppercase;
		font-size:78px;
		letter-spacing: 0.04em;
		color:$blue;
		display: block;
		margin:68px 0 0 0;
		span {
			color:$bluelight;
		}
	}
	span.side_content {
		font-size: 48px;
		color:$blue;
		font-family: $freightdisplay;
		font-weight: 400;
		display: block;
		margin-top:22px;
		max-width: 534px;
		line-height: 66px;
	}
}


.about_content_three {
	width:calc(100% - 783px);
	padding-left:5%;
	padding-right:6%;
	padding-bottom: 150px;
	margin-top:-25px;
}


a.view_story {
	background:$bluelight;
	display: inline-block;
	color:#fff;
	font-family: $teko;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 0.16em;
	text-decoration: none;
	margin-top:65px;
	padding:23px 30px 20px;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $blue;
	}
}


#about_section_four {
	background: url(#{$themePath}images/intl_about_Img_05_desktop.jpg) top center no-repeat;
	width:100%;
	height:577px;
	text-align: center;
	font-size:28px;
	padding-top:1px;
	padding-left:45px;
	padding-right:45px;
	span.request_title {
		font-family: $helveticabold;
		display: block;
		color:#fff;
		margin-top:119px;
		margin-bottom:23px;
	}
	span.request_description {
		font-family: $helveticalight;
		font-size:20px;
		line-height: 35px;
		max-width: 1094px;
		margin:0 auto;
		display: block;
		color:#fff;
	}
	a.consult_button.mobile {
		display: none;
	}
	a.consult_button {
		margin-top:42px;
	}
}

#about_section_es {
	background: #f0f0f1;
	display: flex;
	width:100%;
	padding-bottom:85px;
	margin-top:95px;
}

.about_section_es_image {
	margin-top:83px;
	width:717px;
	img {
		max-width:100%;
		height:auto;
		display: block;
	}
}


.about_section_es_content {
	width:calc(100% - 717px);
	color:$blue;
	margin-top:75px;
	padding-left:5%;
	padding-right:9%;
}


.four_columns {
	display: flex;
	justify-content: space-between;
	margin-top:47px;
	ul {
		margin-top:6px;
		margin-bottom:35px;
		li {
			line-height: 25px;
		}
	}
}

@media screen and (max-width: 1755px) {
	
	
.four_columns {
	display: block;
	column-count:2;
	margin-top:47px;
	.four_col {
		display: inline-block;
		width:100%;
	}
	ul {
		margin-top:6px;
		li {
			line-height: 25px;
		}
	}
}
	
	
} /* Media Query */




@media screen and (max-width: 1615px) {
	
	
	
	#about_section {
		.about_img {
			width: 510px;
		}
		.about_content_one {
			width:calc(100% - 510px);
		}
	}
	
	
	.about_img_two {
		width: 50%;
	}
	
	.about_content_two {
		width:50%;
	}
	
	
	.about_image_three {
		width: 573px;
		max-height: 980px;
		img {
			max-width:100%;
			height:auto;
		}
	}
	
	.about_content_three {
		width:calc(100% - 573px);
	}
	
	
	.about_imge_three_side_content {
		padding-left: 8%;
	}
	
	
	.about_section_es_image {
		width:650px;
	}
	
	.about_section_es_content {
		width:calc(100% - 650px);
	}
	

	
	
	
} /* Media Query */


@media screen and (max-width: 1350px) {
	
	
	#about_section {
		flex-direction: column;
		.about_img {
			width: 100%;
			img {
				margin-left:auto;
				margin-right:auto;
			}
		}
		.about_content_one {
			width:100%;
			padding: 51px 72px 0 72px;
		}
	}
	
	
	.about_section_two {
		flex-direction: column;
	}
	
	.about_img_two {
		width: 100%;
		margin: 55px 0 0 0;
		img.img_one {
			margin-left:auto;
			margin-right:auto;
		}
		img.img_two {
			margin-left:auto;
			margin-right:auto;
		}
		.img_content {
			padding-right:72px;
			padding-left:72px;
		}
	}
	
	.about_content_two {
		width:100%;
		padding-left:72px;
		padding-right:72px;
		margin: 68px 0 0 0;
	}
	
	#about_section_three {
		flex-direction: column;
		margin: 33px 0 0;
	}
	
	
	.about_image_three {
		width:100%;
		order:2;
		text-align: center;
		padding-right:0;
	}
	
	.about_content_three {
		width:100%;
		order:1;
		padding-left:72px;
		padding-right:72px;
	}
	
	.about_imge_three_side_content {
		padding-left:0;
		span.side_content {
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	#about_section_es {
		flex-direction: column;
		margin-top: 127px;
	}
	
	.about_section_es_image {
		width:100%;
		order:1;
		//display: none;
		img {
			margin-left:auto;
			margin-right:auto;
			margin-top:-120px;
		}
	}
	
	.about_section_es_content {
		width:100%;
		order:2;
	}
	
	
	
	
 } /* Media Query */
 
 
 @media screen and (max-width: 1297px) {
	 
	 
/*
	 
	 #about_section {
		 .about_img {
			 img {
				 margin-left:auto;
				 margin-right:auto;
			 }
		 }
	 }
	 
	 
	 
	 .about_img_two {
		 img {
			 margin-left:auto;
			 margin-right:auto;
		 }
		 img.img_two {
			 margin-left:auto;
		 }
	 }
*/
	 
	 
	 
	 
 } /* Media Query */
 
 
 @media screen and (max-width: 1066px) {
	 
	 
	 
.about_wrapper {
	padding: 77px 0 0;
	h1 {
		
		span.about_topline {
			font-size:174px;
			span {
				&:before {
					
				}
			}
		}
		span.about_bottomline {
			font-size:59px;
			line-height: 58px;
			margin: -14px 0 0 0;
		}
	}
}



#about_section {
	margin: 195px 0 0px 0%;
	.about_img {
		padding-right:68px;
		img {
			margin-top: -84px;
		}
		img.img_desktop {
			display: none;
		}
		img.img_tablet {
			display: block;
		}
	}
	.about_content_one {
		padding: 51px 50px 0 50px;
		span.intro {
			font-size:28px;
			line-height: 40px;
		}
	}
}


.about_content_two {
	padding-left:50px;
	padding-right:50px;
}

.about_img_two {
	
	img {
		//float:right;
	}
	img.img_one.desktop {
		display: none;
	}
	img.img_one.tablet {
		display: block;
		margin-left:auto;
		margin-right:auto;
		float:none;
	}
	img.img_two {
		display: none;
	}
	.img_content {
		clear:both;
		padding-top:30px;
		padding-left:50px;
		padding-right:50px;
	}
}


.about_content_three {
	padding-left:50px;
	padding-right:50px;
}

.about_image_three {
	img {
		margin-left:auto;
		margin-right:auto;
	}
}


.about_imge_three_side_content {
	span.side_title {
		margin: 68px 0 0 0%;
	}
	span.side_content {
		margin-left:auto;
		margin-right:auto;
	}
	a.view_story {
		margin-left:auto;
		margin-right:auto;
		margin-top: 51px;
	}
}

.about_image_three {
	padding-bottom: 96px;
}

#about_section_four {
	padding-left:72px;
	padding-right:72px;
	height:auto;
	padding-bottom:150px;
	background-size:cover;
	a.consult_button {
		
	}
}


#about_section_es {
	//margin-top:60px;
}

.about_section_es_content {
	margin-top: 47px;
	margin-bottom: 41px;
}


.four_columns {
	ul {
		
	}
}



 .about_section_es_image {
		 display: block;
		 width:100%;
		 max-width:600px;
		 margin-left:auto;
		 margin-right:auto;
	 }


	 
 } /* Media Query */
 
 
 @media screen and (max-width: 767px) {
	 
	 
	 	 
.about_wrapper {
	padding: 50px 0 0;
	h1 {
		
		span.about_topline {
			font-size:91px;
			span {
				margin-left:-10px;
				&:before {
					width:7px;
					height:7px;
					left:-8px;
					margin: 37px 0 0 0;
				}
			}
		}
		span.about_bottomline {
			font-size: 39px;
			max-width:200px;
			line-height: 38px;
			margin-left:auto;
			margin-right:auto;
			max-width: 260px;
		}
	}
}


#about_section {
	margin: 138px 0 0px 0%;
	padding-bottom: 55px;
	.about_img {
		padding-right:22px;
		padding-left:22px;
		img {
			margin-top: -90px;
		}
	}
	.about_content_one {
		padding: 33px 22px 0 22px;
	}
}


.about_content_two {
	margin: 56px 0 0 0;
	padding-left:22px;
	padding-right:22px;
}


.about_img_two {
	padding-left:22px;
	padding-right:22px;
	.img_content {
		padding-left:0px;
		padding-right:22px;
		padding-top: 0px;
		margin-top: 31px;
	}
}

.about_content_three {
	padding-left:22px;
	padding-right:22px;
	padding-bottom: 125px;
}


.about_imge_three_side_content {
	span.side_title {
		font-size:51px;
		letter-spacing: 0.04em;
		line-height: 38px;
		margin: 68px 0 0 22px;
	}
	span.side_content {
		margin-left:auto;
		margin-right:auto;
		font-size:25px;
		line-height: 38px;
		max-width:300px;
		
	}
	a.view_story {
		margin-left:0;
		width:100%;
		text-align: center;
		margin-top: 61px;
	}
}


.about_image_three {
	padding-bottom:0;
}


#about_section_four {
	span.request_title {
		margin-top: 84px;
		font-size:24px;
		line-height: 29px;
		margin-bottom: 3px;
	}
	span.request_description {
		font-size:16px;
		line-height: 30px;
	}
}


#about_section_four {
	padding-left:22px;
	padding-right:22px;
	padding-bottom: 105px;
	a.consult_button.mobile {
		display: flex;
		width: 263px;
		margin-top:75px;
		.consult_right {
			svg {
				width: 7px;
			}
		}
	}
}

 ul.columns {
		 column-count:1;
	 }
	 
	 .four_columns {
		 column-count:1;
		 margin-top: 20px;
	 }
	 
	 
	 
	 #about_section_es {
		 padding-bottom:0px;
		 max-width:100%;
		 margin-top:100px;
	 }
	 
	 
	 
	 
	 
 } /* Media Query */
 
 

