body.page-template-page-profile {
	overflow-x: hidden;
	.main {
		position: relative;
		max-width:1770px;
		margin-left:auto;
		margin-right:auto;
		padding-left:50px;
		padding-right:50px;
		overflow-x: hidden;
	}
}

.profile_header_wrapper {
	display: flex;
	position: relative;
	
	&:before {
		content:"";
		width:100%;
		height:100%;
		display: block;
		background: #f0f0f1;
		position: absolute;
		top:0;
		left:-50%;
	}
	&:after {
		content:"";
		width:100%;
		height:100%;
		display: block;
		background: #f0f0f1;
		position: absolute;
		top:0;
		right:-50%;
	}
/*
	max-width:1670px;
	margin:0 auto;
*/
	padding:0 0px 55px;
	background: #f0f0f1;
	.profile_spacer {
		flex-basis: 558px;
		flex-grow:0;
		flex-shrink:0;
		margin-top:122px;
	}
	.profile_header {
		position: relative;
		z-index:1;
		flex-grow:1;
		padding-left:8%;
		margin-top:110px;
	}
}

.profile_wrapper {
	display: flex;
	min-height: 660px;
// 	max-width:1670px;
	margin:0 auto;
// 	padding:0 50px;
}

.profile_left,.profile_right {
	
	z-index:1;
}

.profile_left {
	flex-basis: 558px;
	flex-grow:0;
	flex-shrink:0;
	
	//margin-top: -113px;
	img {
		max-width:100%;
		height:auto;
		display: block;
	}
}


.profile_left_inner {
	position: absolute;
	top:120px;
	left:50px;
	max-width: 558px;

}


.bio_placeholder {
	position: relative;
// 	max-width: 450px;
		margin-left: auto;
		margin-right:auto;
	.bio_overlay {
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
		z-index: 1;
		background: $blue;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		
		span {
			color:#fff;
			font-family: $tekoregular;
			font-size:52px;
			text-transform: uppercase;
			line-height: 50px;
			letter-spacing: 0.16em;
			margin:0 auto;
			max-width: 188px;
			display: block;
		}
	}
	img {
		width: 100%;
		height:auto;
		display: block;
	}
}


.profile_right {
	flex-grow:1;
	position: relative;
	padding-left:8%;
	margin-top: 16px;
}


	h1.attorney_title {
		color:$blue;
		text-transform: uppercase;
		font-family: $tekoregular;
		font-size:115px;
		font-weight: 400;
		font-style: normal;
		line-height: 95px;
		margin-top:15px; 
		span.last_name {
			color:$bluelight;
		}
	}
	span.att_position {
		text-transform: uppercase;
		color:$blue;
		font-size:16px;
		font-family: $helveticabold;
		letter-spacing: 0.04em;
		display: block;
		margin-top:0px;
		line-height: 19px;
	}



.att_profile_content {
	margin-top: 38px;
}



.accolades_wrapper {
	margin-top:60px;
	padding-left:45px;
	padding-right:45px;
}

.accolades_list {
	margin-bottom:35px;
}


span.accolades_title {
	text-transform: uppercase;
	color:$blue;
	font-family: $tekomedium;
	font-size: 24px;
	letter-spacing: 0.02em;
}



.attorney_slider_wrapper {
	margin:80px 0 0 0;
	position: relative;
	padding-left:45px;
	padding-right:45px;
	h3 {
		border-bottom: 1px solid $bluelight;
		padding-bottom:24px;
	}
}

.attorney_bio_slider {
	margin:43px 0 0;
	//background:red;
}


.att_bio_single_slide {

	img {
		max-width:100%;
		height:auto;
		display: block;
		// margin:0 auto;
	}
}

.bio_buttons {
	display: flex;
	position:absolute;
	top:-8px;
	right:45px;
}

.bio_button {
	background: #f0f0f1;
	width:53px;
	height:53px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $bluelight;
		svg {
			fill:#fff;
		}
	}
	svg {
		width:6px;
		height: 11px;
		fill:$bluelight;
		transition: all 200ms ease-in-out
	}
}

.bio_back {
	margin-right:12px;
}

.bio_next {
	svg {
		transform: rotate(-180deg);
	}
}


@media screen and (max-width: 1530px) {
	
.profile_header_wrapper {
	
	.profile_spacer {
		flex-basis: 500px;
	}
	.profile_header {
		
	}
}
	
	
	.profile_left {
		flex-basis:500px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1455px) {
	
	
	
.profile_header_wrapper {
	
	.profile_spacer {
		
	}
	.profile_header {
		//padding-left:3.5%;
	}
}
	
	
	
	
	.profile_right{
		//padding-left:3.5%;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1297px) {
	

	
	body.page-template-page-profile {
		.main {
			max-width:100%;
			&:before {
				height:500px;
			}
		}
	} 
	

.profile_header_wrapper {
		padding: 0 0px 125px;
	.profile_spacer {
		display: none;
	}
	.profile_header {
		padding-left:0%;
		margin-top: 89px;
		text-align: center;
	}
}
	
	
		
.profile_wrapper {
		flex-direction: column;
		margin-top: -65px;
	}
	
	
	.profile_left {
		margin:0 auto;
		flex-basis:auto;
		width: 100%;
		img {
			margin:0 auto;
			max-width:450px;
		}
	}
	
	
	.profile_left_inner {
		position: static;
		margin-left:auto;
		margin-right:auto;
		max-width:100%;
	}
	
	
	
	.profile_right {
		padding-left:0;
	}
	
	
	.att_profile_content {
    margin-top: 0;
	}
	
	
	.bio_placeholder {
		max-width:450px;
		.bio_overlay {
		
		}
	}
	
	
	
.attorney_slider_wrapper {
	max-width: 450px;
	margin-left:auto;
	margin-right:auto;
}


.att_bio_single_slide {
	
	img {
		max-width:100%;
		height:auto;
		display: block;
		margin-left:auto;
		margin-right:auto;
	}
}


.attorney_slider_wrapper {
	margin-top: 47px;
	padding-left:0;
	padding-right:0;
	h3 {
		text-align: center;
	}
}


.bio_buttons {
	position: static;
	margin-top:55px;
	display: flex;
	justify-content: center;
}
	
.accolades_wrapper {
	padding-left:0;
	padding-right:0;
}
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	
	.att_bio_single_slide {
		img {
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	body.page-template-page-profile .main {
		padding-left:20px;
		padding-right:20px;
	}
	
	.profile_header_wrapper {
		padding-left:0px;
		padding-right:0px;
		.profile_header {
			margin-top:33px;
		}
	} 
	
	
	h1.attorney_title {
		font-size: 76px;
		margin-top: 7px;
		
		line-height: 60px;
	}
	
	span.att_position {
		margin-top: 7px;
	}
	
	.profile_wrapper {
		margin-top: -75px;
		padding-left:0px;
		padding-right:0px;
	}
	
	
	.profile_left {
		img {
			max-width:450px;
			width:100%;
		}
	}
	
	
	.accolades_wrapper {
    margin-top: 40px;
	}
	
	
	.att_bio_single_slide {
		img {
			max-width:100%;
			// margin-left:auto;
			// margin-right:auto;
			width:auto;
		}
	}
	
	
	.attorney_slider_wrapper {
		max-width: 310px;
		margin-top:22px;
		h3 {
			padding-bottom: 15px;
		}
	}
	
	
	
	
	
} /* Media Query */