.contact_wrapper {
	display: flex;
}


.contact_left {
	flex-grow:1;
	padding: 98px 73px 0 10%;
	h1.contact_title {
		text-transform: lowercase;
		font-weight: 400;
		font-style:normal;
		font-family: $freightdisplay;
		color:$blue;
		font-size:120px;
		line-height: 1;
		span {
			color:$bluelight;
			font-family: $freightbigpro;
			font-weight: 400;
			&:before {
				content:"";
				width:13px;
				height:13px;
				display: inline-block;
				background: $bluelight;
				vertical-align: top;
				transform: rotate(-45deg);
				margin: 65px 30px 0 10px;
			}
		}
	}
	.left_content {
		margin-top:58px;
		h2 {
			margin-bottom:25px;
		}
	
			ul {
				padding:30px 0 30px;
				 column-count: 2;
				 //column-width: 150px;
				 column-gap: 45px;
			}
		
	}
}


.contact_right {
	flex-basis: 737px;
	flex-grow: 0;
	flex-shrink: 0;
	img {
		max-width: 100%;
		height:auto;
		display: block;
	}
}


.contact_list_wrapper {
	padding:100px 10% 0;
	margin-bottom:168px;
}

.single_contact_list {
	display: flex;
	margin-bottom:30px;
	.iframe_map {
		width:51%;
		height:330px;
		position: relative;
		iframe {
			width:100% !important; /* overrides iframe embed heights and widths */
			height:100% !important;
			position: absolute;
			top:0;
			left:0;
		}
	}
	.contact_info {
		width:49%;
		padding-left:3.5%;
		.city_title_wrapper {
			display: flex;
			justify-content: space-between;
			border-bottom:1px solid $bluelight;
			margin-top:43px;
			span.city_title {
				color:$blue;
				text-transform: uppercase;
				font-size:40px;
				font-family: $tekoregular;
				margin-bottom:10px;
				display: block;
			}
			a.city_tel {
				font-family: $tekolight;
				font-size:38px;
				color:#abacb2;
				text-decoration: none;
			}
		}
		.city_address_wrapper {
			display: flex;
			justify-content: space-between;
			span.city_address {
				font-family: $helveticalight;
				font-size:25px;
				color:$blue;
				line-height: 30px;
				letter-spacing:-0.02em;
				display: block;
				margin-top:19px;
			}
			a.city_directions {
				background: $bluelight;
				color:#fff;
				font-family: $tekomedium;
				text-transform: uppercase;
				font-size: 17px;
				letter-spacing: 0.16em;
				text-decoration: none;
				height:55px;
				padding:20px 35px 0;
				margin-top:27px;
				transition: all 200ms ease-in-out;
				&:hover {
					background: $blue;
				}
			}
		}
	}
}


body.page-template-page-contact {
	footer {
		background: url(#{$themePath}images/contact-footer.jpg) top center no-repeat;
		padding-top:285px;
		//background-size: cover;
/*
		padding-left:50px;
		padding-right:50px;
*/
	}
	.inner_footer {
		background: #fff;
		max-width: 1611px;
		padding: 185px 45px 182px;
	}
	.footer_locations {
		display: none;
	}
}






@media screen and (min-width: 1920px) {
	
	
	
	body.page-template-page-contact {
	footer {
		background: transparent;
		position: relative;
		&:after {
			content:"";
			width:100%;
			position: absolute;
			top:0;
			left:0;
			display: block;
			height:744px;
			background: url(#{$themePath}images/contact-footer.jpg) top center no-repeat;
			background-size:cover;
		}
		
		//background-size: cover;
	}
	.inner_footer {
		position: relative;
		z-index:1;
	}
	.footer_locations {
		
	}
}

	
	
	
} /* Media Query */





@media screen and (max-width: 1700px) {
	
	
	
body.page-template-page-contact {
	footer {
		
	
	}
	.inner_footer {
	
		max-width: 1370px;
		
	}
	.footer_locations {
		
	}
}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1525px) {
	
	
	.contact_right {
		flex-basis: 600px;
		
		
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
			
body.page-template-page-contact {
	footer {
		background-image:none;
		padding-top:0;
	}
	.inner_footer {
		padding-top:149px;
	}
	.footer_locations {
		
	}
}

	
	.contact_list_wrapper {
		margin-bottom:0;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1400px) {
	
	
	.contact_left {
    padding: 98px 73px 0 5%;
	}
	
	
	
	.contact_list_wrapper {
		padding-left:5%;
		padding-right:5%;
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1297px) {
	
	
.contact_left {
	padding: 75px 50px 0;
	h1.contact_title {
		font-size: 98px;
		span {
			
			&:before {
				margin: 52px 25px 0 5px;
			}
		}
	}
	.left_content {
		margin-top: 7px;
		h2 {
			
		}
	
			ul {
				
			}
		
	}
}



.contact_list_wrapper {
		padding-left:50px;
		padding-right:50px;
	}
	
	
	.single_contact_list {
		.iframe_map {
			width:40%;
		}
		.contact_info {
			width:60%;
		}
	} 
	
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	
	.contact_left {
		padding-left:50px;
		padding-right:50px;
		flex-basis: 625px;
		flex-grow:0;
		flex-shrink: 0;
	}
	
	.contact_right {
		flex-basis: calc(100% - 625px);
	}
	
	

	
	

	
	
} /* Media Query */







@media screen and (max-width: 1120px) {
	
	
	
	.contact_left {
		flex-basis: 100%;
		h1.contact_title {
			font-size: 98px;
			text-align: center;
			span {
			
				&:before {
					margin: 52px 25px 0 5px;
				}
			}
		}
		.left_content {
			margin-top:35px;
		}
	}
	
	.contact_right {
		display: none;
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1080px) {
	
	
	
body.page-template-page-contact {
	footer {
	
	}
	.inner_footer {
		padding-top:104px;
		padding-left:70px;
		padding-right:70px;
		max-width: 880px;
	}
	.footer_locations {
		
	}
}

	
	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	.contact_list_wrapper {
		flex-wrap: wrap;
		display: flex;
		padding-top:38px;
		justify-content: space-between;
	
	}
	
	
	.single_contact_list {
		width:100%;
		flex-direction: column;
		.iframe_map {
			width:100%;
			order:2;
			margin-top:35px;
		}
		.contact_info {
			width:100%;
			order:1;
			padding-left:0;
			.city_address_wrapper {
				a.city_directions {
					//padding: 20px 21px 0;
				}
				span.city_address {
					//font-size: 19px;
					//line-height: 24px;
					//margin-top: 25px;
				}
			}
		}
	} 
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.contact_left {
		padding: 45px 20px 0;
		h1.contact_title {
			font-size: 73px;
			span {
				&:before {
					margin: 37px 20px 0 5px;
				}
			}
		}
		.left_content {
			margin-top: 23px;
			ul {
				column-count:1;
			}
		}
	}
	
	.contact_right {
		
	}
	
	
	
	.contact_list_wrapper {
		padding-left:20px;
		padding-right:20px;
	}
	
	
	.single_contact_list {
		//width:100%;
		.iframe_map {
			max-width:380px;
			margin-left:auto;
			margin-right:auto;
		}
		.contact_info {
			text-align: center;
			.city_title_wrapper {
				flex-direction: column;
				border: none;
				display: block;
				a.city_tel {
					border-bottom:1px solid $bluelight;
					display: inline-block;
					padding-left:25px;
					padding-right:25px;
					font-size: 35px;
					padding-bottom:10px;
				}
			}
			.city_address_wrapper {
				display: block;
				a.city_directions {
					height:auto;
					display: inline-block;
					padding: 18px 26px 14px;
					margin-top: 27px;
				}
				span.city_address {
					font-size: 17px;
					line-height: 22px;
				}
			}
		}
	} 
	
	
		
body.page-template-page-contact {
	footer {
	
	}
	.inner_footer {
		padding: 81px 20px 69px;
    max-width: 400px;
	}
	.footer_locations {
		
	}
	.bottom_footer {
		 margin-top: 0px;
     height: 83px;
		 .bottom_footer_left {
	    align-items: center;
	    a.ilawyer {
		    top:0;
	    }
    }
	}
}

	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 488px) {
	
	
	.contact_left {
		
		h1.contact_title {
			font-size: 65px;
			span {
				&:before {
					
				}
			}
		}
		.left_content {
			margin-top: 14px;
		}
	}
	
	.contact_right {
		
	}
	
	
} /* Media Query */



@media screen and (max-width: 350px) {
	
	
	
.contact_left {
		
		h1.contact_title {
			font-size: 57px;
			span {
				&:before {
					width:10px;
					height:10px;
					margin: 30px 14px 0 5px;
				}
			}
		}
		.left_content {
		
		}
	}
	
	.contact_right {
		
	}
	
	
	
	    

} /* Media Query */