header {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:110px;
	display: flex;
	padding:0px 0px 0 30px;
}


.header_left {
	flex-grow:1;
	padding:35px 0;
	display: flex;
	a.logo {
		flex-basis:395px;
		flex-shrink: 0;
		flex-grow: 0;
		svg {
			width:395px;
		}
	}
	nav {
		flex-grow: 1;
		padding-left:7%;
		padding-right:30px;
		padding-top:38px;
		display: none;
		.close {
			position: absolute;
			top:10px;
			right:20px;
			width:55px;
			height:55px;
			cursor: pointer;
			&:hover {
				&:before, &:after {
					background: $bluelight;
				}
			}
			&:before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: rotate(45deg);
			}
			&:before, &:after {
				content:"";
				position: absolute;
				width:100%;
				height:5px;
				background: #fff;
				display: block;
				top:23px;
				left:0;
				transition: all 200ms ease-in-out;
			}
		}
		.menu_header {
			width:100%;
		}
		ul {
			width:100%;
			list-style: none;
			margin:0;
			li {
				font-family: $tekoregular;
				font-size:22px;
				letter-spacing: 0.16em;
				text-transform: uppercase;
				a {
					color:#fff;
					text-decoration: none;
					cursor: pointer;
					transition: all 200ms ease-in-out;
				}
			}
		}
		ul.menu {
			display: flex;
			justify-content: space-between;
			> li {
					position: relative;
					&:hover {
						> a {
							color:$bluelight;
					}
				}
				
			}
			> li.menu-item-has-children {
				position: relative;
					&:hover {
						ul.sub-menu {
							opacity: 1;
							visibility: visible;
							transform: translateY(0px);
						}
					}
					> a {
						
							&:after {
								content:"";
								transform: rotate(45deg);
								width:7px;
								height:7px;
								background: $bluelight;
								display: block;
								position: absolute;
								top:5px;
								right:-11px;
							}
						}
					
					> a {
							padding-bottom:20px;
					}
			}
		}
		ul.sub-menu {
			position: absolute;
			top:38px;
			left:-15px;
			background:$blue;
			width:380px;
			padding:0px 23px;
			opacity: 0;
			visibility: hidden;
			transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, transform 800ms cubic-bezier(.17,.66,.34,.98);
			transform: translateY(-7px);
			> li {
					&:last-of-type {
						a {
							border:none;
						}
					}
				> a {
						display: block;
						padding:30px 20px 22px;
						border-bottom:1px solid #4f5261;
						transition: all 200ms ease-in-out;
						&:hover {
							color:$bluelight;
						}
				}
			}
		}
	}
}


.header_right {
	flex-basis:347px;
	display: flex;
}

.espanol {
	background: $bluelight;
	flex-basis: 100px;
	flex-shrink: 0;
	flex-grow: 0;
	text-align: center;
	a {
		transition: all 200ms ease-in-out;
		&:after {
			content:"espanol";
		}
	}
	&:hover {
		a {
			background: #fff;
			color:$bluelight;
		}
	}
	a {
		display: block;
		height:100%;
		color:#fff;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $tekoregular;
		font-size:22px;
		letter-spacing: 0.12em;
		padding-top:73px;
	}
}

.phone_wrapper {
	background: $blue;
	flex-basis: calc(100% - 100px);
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	//justify-content: center;
	align-items: center;
	a.tel {
		color:$bluelight;
		font-family: $tekolight;
		font-size:46px;
		letter-spacing: 0.045em;
		text-decoration: none;
		margin-top:21px;
	}
	span {
		color:#fff;
		text-transform: uppercase;
		font-family: $tekoregular;
		font-size:21.5px;
		letter-spacing: 0.2em;
		display: block;
		margin-top:5.5px;
	}
}

.menu_wrapper {
	display: none;
}


@media screen and (max-width: 1835px) {
	
	header {
		padding: 0px 0px 0 18px;
	}
	
	.header_left {
		a.logo {
			flex-basis: 344px;
			svg {
				width: 344px;
			}
		}
		nav {
			padding-left: 3%;
			padding-top: 32px;
		}
	}
	
.header_right {
	flex-basis: 310px;
}
	
.espanol {
	flex-basis: 63px;
	a {
		padding-top: 67px;
		&:after {
			content:"es";
		}
	}
	&:hover {
		a {
			
		}
	}
	a {
		
	}
}

.phone_wrapper {
	flex-basis: 247px;
	a.tel {
		font-size: 41px;
	}
	span {
		font-size: 21px;
	}
}

	
	
} /* Media Query */



@media screen and (max-width: 1742px) {
	
	
	.header_left {
		a.logo {
			flex-basis: 300px;
			svg {
				width: 300px;
			}
		}
		nav {
			
			padding-top: 27px;
		}
	}
	
.espanol {

	a {
		 padding-top: 62px;
		&:after {
			
		}
	}
	&:hover {
		a {
			
		}
	}
	a {
		
	}
}
	
	   
	
	
} /* Media Query */



@media screen and (max-width: 1650px) {
	
	
	header {
		height: 92px;
	}
	
	.header_left {
		padding: 25px 0;
		a.logo {
			flex-basis: 345px;
			svg {
				width:345px;
			}
		}
		nav {
			padding-top: 33px;
			padding-right: 13px;
			ul {
				li {
					font-size:18px;
					letter-spacing: 0.1em;
					a {
						
					}
				}
			}
		}
	}
	
	
.espanol {
  flex-basis: 56px;
	a {
		 padding-top: 58px;
		 font-size:18px;
		&:after {
			
		}
	}
	&:hover {
		a {
			
		}
	}
	a {
		
	}
}




.header_left {
	
	a.logo {
		
		svg {
			
		}
	}
	nav {
		
		.menu_header {
			
		}
		ul {
			
			li {
				
				a {
					
				}
			}
		}
		ul.menu {
			
			> li {
					
					&:hover {
						> a {
							
					}
				}
				
			}
			> li.menu-item-has-children {
				
					&:hover {
						ul.sub-menu {
							
						}
					}
					&:after {
						width:5px;
						height:5px;
						right: -8px;
					}
					> a {
							
					}
			}
		}
		ul.sub-menu {

			visibility: visible;
			padding-left:0;
			padding-right:0;
			top:30px;
			> li {
					&:last-of-type {
						a {
							
						}
					}
				> a {
						padding: 24px 20px 19px;
						letter-spacing: 0.16em;
						border-bottom:1px solid #fff;
						&:hover {
						
						}
				}
			}
		}
	}
}










.header_right {
	flex-basis: 273px;
}


.phone_wrapper {
	flex-basis: 217px;
	a.tel {
		font-size: 32px;
		margin-top: 23px;
	}
	span {
		font-size: 18px;
		letter-spacing: 0.1em;
		margin-top: 2.5px;
	}
}

	
	
	
	
} /* Media Query */



@media screen and (max-width: 1395px) {
	
	
	
	.header_left {
	
		a.logo {
			flex-basis:300px;
			padding-top: 4px;
			svg {
			  width: 300px;
			}
		}
		nav {
			padding-left:20px;
			ul {
				li {
					
					a {
						
					}
				}
			}
		}
	}

	
.header_right {
	flex-basis: 243px;
}


.phone_wrapper {
	flex-basis: 187px;
	a.tel {
		
	}
	span {
		
	}
}
	
	
	
} /* Media Query */




@media screen and (max-width: 1297px) {
	
	
	header {
		height: 89px;
	}
	
	
	.header_right {
		flex-basis: 310px;
	}
	
	.espanol {
		display: none;
	}

	.phone_wrapper {
		flex-grow: 1;
		flex-basis: auto;
		a.tel {
			margin-top: 19px;
		}
	}
	
	
	.menu_wrapper {
		display: block;
		flex-basis: 90px;
		flex-shrink: 0;
		flex-grow: 0;
		background: $bluelight;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding:0 0px;
		cursor: pointer;
		span {
			display: block;
		}
		span.menu_bar {
			width:100%;
			height:4px;
			background: #fff;
			margin-bottom:8px;
			max-width:47px;
		}
		span.menu_title {
			color:#fff;
			text-transform: uppercase;
			font-family: $helveticabold;
			font-size:13px;
			letter-spacing: 0.12em;
			padding-left:0.12em;
		}
	}
	
	.header_left {
		
		nav {
			position: fixed;
			overflow-y: scroll;
			top:0;
			left:0;
			width:100%;
			height:100vh;
			background: $blue;
			padding:180px 0;
			text-align: center;
			-webkit-overflow-scrolling: touch;
			
			ul {
				li {
					font-size:22px;
					margin-bottom:40px;
					letter-spacing: 0.16em;
					a {
						
					}
				}
			}
			ul.menu {
				flex-direction: column;
				padding-bottom:50px;
				> li.current-menu-ancestor {
						> a {
							color:$bluelight;
						}
				}
				> li.menu-item-has-children.open {
						margin-bottom:20px;
						> a {
								color:$bluelight;
						}
						&:hover {
							
							ul.sub-menu {
								opacity: 1;
								visibility: visible;
							}
						}
				}
				> li.menu-item-has-children {
						opacity: 1;
						visibility: visible;
						
						&:hover {
							ul.sub-menu {
								opacity: 0;
								visibility: hidden;
							}
/*
							opacity: 0;
							visibility: hidden;
*/
						}
					 	a {
						 	position: relative;
						 	display: inline-block;
						 	padding-bottom:0;
						 	&:after {
								position: relative;
								top:-4px;
								display: inline-block;
								right: -10px;
								width:5px;
								height:5px;
							}
					 	}
					 }
				> li {
						
					
				}
			}
			ul {
				li {
					text-align: center;
					a {
						
					}
				}
			}
			ul.sub-menu.open {
				margin:20px 0 0;
				padding:35px 0;
				opacity: 1;
				visibility: visible;
				max-height: 3000px;
				transition: all 200ms ease-in-out;
			}
			ul.sub-menu {
				opacity: 0;
				visibility: hidden;
				max-height:0;
				width:auto;
				top:0;
				transform: none;
				left:0;
				position: relative;
				background: $bluelight;
				transition: all 200ms ease-in-out;
				margin:0px 0 0;
				padding:0px 0;
				> li.current-menu-item {
						a {
							color:$blue;
						}
				}
				> li {
					font-size:16px;
					font-family: $helveticabold;
					margin-bottom: 43px;
					&:last-of-type {
						margin-bottom: 0;
					}
					  a {
						 	border-bottom: none;
						 	padding:0;
						 	letter-spacing: 0;
						 	&:hover {
							 	color:$blue;
						 	}
					 }
				}
			}
		}
	}
	

	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	header {
		padding: 0px 0px 0 25px;
	}
	
	.header_left {
		 padding: 15px 0 0;
		 a.logo {
			 flex-basis: 280px;
			 padding-top:0;
			 svg {
					width: 280px;
			 }
		 }
	}
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	header {
		background: #fff;
		padding: 0px 0px 0 12px;
		height: 68px;
		position: fixed;
		top:0;
		left:0;
	}
	
	
	.header_left {
		padding: 11px 0 0;
		nav {
			top: 68px;
			padding: 49px 0;
			ul.menu {
				
			}
			ul.sub-menu {
				> li {
						margin-bottom: 35px;
						font-size:15px;
				}
				
			}
			ul.sub-menu.open {
				padding: 22px 0;
				
			}
			ul {
				li {
					margin-bottom: 29px;
				}
			}
		}
		.close {
			display: none;
		}
		a.logo {
			 flex-basis: 203px;
			 svg {
					width: 203px;
			 }
		 }
	}
	
	
	.phone_wrapper {
		display: none;
	}
	
	.header_right {
		flex-basis: 77px;
	}
	
	
	.menu_wrapper {
		flex-basis: 77px;
		span.menu_bar {
			&:nth-of-type(3) {
				margin-bottom: 0;
			}
		}
		span.menu_title {
			display: none;
		}
	} 
	
	
	
	
} /* Media Query */
