header {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:110px;
	display: flex;
	padding:0px 0px 0 30px;
	z-index:10;
}


.header_left {
	flex-grow:1;
	padding:35px 0;
	display: flex;
	a.logo {
		flex-basis:395px;
		flex-shrink: 0;
		flex-grow: 0;
		svg {
			width:395px;
		}
	}
	nav {
		flex-grow: 1;
		padding-left:7%;
		padding-right:30px;
		padding-top:38px;
		
		.close {
			position: absolute;
			top:10px;
			right:20px;
			width:55px;
			height:55px;
			cursor: pointer;
			display: none;
			&:hover {
				&:before, &:after {
					background: $bluelight;
				}
			}
			&:before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: rotate(45deg);
			}
			&:before, &:after {
				content:"";
				position: absolute;
				width:100%;
				height:5px;
				background: #fff;
				display: block;
				top:23px;
				left:0;
				transition: all 200ms ease-in-out;
			}
		}
		.menu_header {
			width:100%;
		}
		ul {
			width:100%;
			list-style: none;
			margin:0;
			li {
				font-family: $tekoregular;
				font-size:22px;
				letter-spacing: 0.16em;
				text-transform: uppercase;
				a {
					color:#fff;
					text-decoration: none;
					cursor: pointer;
					transition: all 200ms ease-in-out;
				}
			}
		}
		ul.menu {
			display: flex;
			justify-content: space-between;
			> li {
					position: relative;
					&:hover {
						> a {
							color:$bluelight;
					}
				}
				
			}
			
			>li.current-menu-item {
				> a {
						color:$bluelight;
				}
				
			}
			> li.menu-item-has-children {
				position: relative;
					&:hover {
						> ul.sub-menu {
							opacity: 1;
							visibility: visible;
							transform: translateY(0px);
						}
					}
					> a {
							position: relative;
							&:after {
								content:"";
								transform: rotate(45deg);
								width: 6px;
								height: 6px;
								background: $bluelight;
								display: block;
								position: absolute;
								top:11px;
								right:-11px;
							}
						}
					
					> a {
							padding-bottom:20px;
					}
			}
		}
		ul.sub-menu {
			position: absolute;
			top:38px;
			left:-15px;
			background:$blue;
			width:370px;
			padding:0px 0px;
			opacity: 0;
			visibility: hidden;
			transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, transform 800ms cubic-bezier(.17,.66,.34,.98);
			transform: translateY(-7px);
			>li.current-menu-item {
				> a {
						color:$bluelight;
				}
				
			}
			
			> li.menu-item-has-children {
					position: relative;
					> a {
						&:after {
							content:"";
							width:6px;
							height:6px;
							background: $bluelight;
							display: inline-block;
							vertical-align: top;
							margin:6px 0 0 7px;
							transform: rotate(-45deg);
						}
					}
					&:hover {
						> ul.sub-menu {
								opacity: 1;
								visibility: visible;
								transform: translateY(0px);
						}
					}
				> ul.sub-menu {
						left: 359px;
						top:0;
						opacity: 0;
						visibility: hidden;
					}
				}
			> li {
					position:relative;
					padding-left:20px;
					padding-right:20px;
					&:last-of-type {
						> a {
							border:none;
						}
					}
				> a {
						display: block;
						padding:30px 0px 22px;
						border-bottom:1px solid #4f5261;
						transition: all 200ms ease-in-out;
						position: relative;
						&:hover {
							color:$bluelight;
						}
						
				}
				
			}
		}
	}
}


.header_right {
	flex-basis:347px;
	display: flex;
}

.espanol {
	background: $bluelight;
	flex-basis: 100px;
	flex-shrink: 0;
	flex-grow: 0;
	text-align: center;
	a {
		transition: all 200ms ease-in-out;
		&:after {
			content:"espanol";
		}
	}
	&:hover {
		a {
			background: #fff;
			color:$bluelight;
		}
	}
	a {
		display: block;
		height:100%;
		color:#fff;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $tekoregular;
		font-size:22px;
		letter-spacing: 0.12em;
		padding-top:73px;
	}
}

.phone_wrapper {
	background: $blue;
	flex-basis: calc(100% - 100px);
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	//justify-content: center;
	align-items: center;
	a.tel {
		color:$bluelight;
		font-family: $tekolight;
		font-size:46px;
		letter-spacing: 0.045em;
		text-decoration: none;
		margin-top:21px;
	}
	span {
		color:#fff;
		text-transform: uppercase;
		font-family: $tekoregular;
		font-size:21.5px;
		letter-spacing: 0.2em;
		display: block;
		margin-top:5.5px;
	}
}

.menu_wrapper {
	display: none;
}



body:not(.page-template-page-home) {
	header {
		padding-left:0;
	}
	.header_left {
		border-bottom:1px solid #d7d7d7;
		padding: 13px 0 0;
		a.logo {
			margin-left:27px;
			flex-basis: 347px;
			svg {
				width: 347px;
			}
		}
		nav {
			padding-left: 8%;
			padding-right: 39px;
			padding-top: 32px;
			ul.menu {
				>li.current-menu-ancestor {
				> a {
					color:$bluelight;
				}
			}
				>li.current-menu-item {
				> a {
						color:$bluelight;
				}
				
			}
			>li.menu-item-has-children {
				> ul.sub-menu {
						> li {
								&:hover {
									>a {
										color:$bluelight;
									}
								}
						}
						>li.current-menu-ancestor {
							> a {
								color:$bluelight;
							}
						}
						>li.current-menu-item {
							>a {
								color:$bluelight;
							}
						}
				}
			}
				> li {
					&:hover {
						> a {
							color:$bluelight;
						}
					}
					> a {
						color:$blue;
						&:hover {
							color:$bluelight;
						}
					}
				}
			}
		}
	}
	.espanol {
		a {
			padding-top: 46px;
		}
	}
}


.mobile_logo_svg {
	opacity: 0;
	visibility: hidden;
	display: none;
}


@media screen and (max-width: 1857px) {
	
	
	
body:not(.page-template-page-home) {
	header {
		
	}
	.header_left {
		
		a.logo {
			
			svg {
				
			}
		}
		nav {
			padding-left:4%;
			ul.menu {
				
				> li {
					&:hover {
						> a {
							
						}
					}
					> a {
						
						&:hover {
							
						}
					}
				}
			}
		}
	}
	.espanol {
		a {
			
		}
	}
}

	
	
	
	
	
} /* Media Query */
    

@media screen and (max-width: 1835px) {
	
	header {
		padding: 0px 0px 0 18px;
	}
	
	.header_left {
		a.logo {
			flex-basis: 344px;
			svg {
				width: 344px;
			}
		}
		nav {
			padding-left: 3%;
			padding-top: 32px;
		}
	}
	
.header_right {
	flex-basis: 310px;
}
	
.espanol {
	flex-basis: 63px;
	a {
		padding-top: 67px;
		&:after {
			content:"es";
		}
	}
	&:hover {
		a {
			
		}
	}
	a {
		
	}
}

.phone_wrapper {
	flex-basis: 247px;
	a.tel {
		font-size: 41px;
	}
	span {
		font-size: 21px;
	}
}

	
	
} /* Media Query */



@media screen and (max-width: 1742px) {
	
	
	.header_left {
		a.logo {
			flex-basis: 300px;
			svg {
				width: 300px;
			}
		}
		nav {
			
			padding-top: 27px;
		}
	}
	
.espanol {

	a {
		 padding-top: 62px;
		&:after {
			
		}
	}
	&:hover {
		a {
			
		}
	}
	a {
		
	}
}
	
	   
	
	
} /* Media Query */


@media screen and (max-width: 1700px) {
	
	
	
	

	
	
	
body:not(.page-template-page-home) {
	header {
		
	}
	.header_left {
		
		a.logo {
			flex-basis: 331px;
			svg {
				width: 331px;
			}
		}
		nav {
			padding-left:2%;
			padding-right: 19px;
			ul.menu {
				
				> li {
					&:hover {
						> a {
							
						}
					}
					> a {
						
						&:hover {
							
						}
					}
				}
			}
		}
	}
	.espanol {
		a {
			
		}
	}
}

	
	
	
	
} /* Media Query */



@media screen and (max-width: 1650px) {
	
	
	header {
		height: 92px;
	}
	
	.header_left {
		padding: 25px 0;
		a.logo {
			flex-basis: 345px;
			svg {
				width:345px;
			}
		}
		nav {
			padding-top: 33px;
			padding-right: 13px;
			ul {
				li {
					font-size:18px;
					letter-spacing: 0.1em;
					a {
						
					}
				}
			}
			ul.menu {
				> li.menu-item-has-children {
					 > a {
						 	&:after {
							 	width:6px;
							 	height:6px;
						 	}
					 }
				}
			}
		}
	}
	
	
.espanol {
  flex-basis: 56px;
	a {
		 padding-top: 58px;
		 font-size:18px;
		&:after {
			
		}
	}
	&:hover {
		a {
			
		}
	}
	a {
		
	}
}




.header_left {
	
	a.logo {
		
		svg {
			
		}
	}
	nav {
		
		.menu_header {
			
		}
		ul {
			
			li {
				
				a {
					
				}
			}
		}
		ul.menu {
			
			> li {
					
					&:hover {
						> a {
							
					}
				}
				
			}
			> li.menu-item-has-children {
				
					&:hover {
						ul.sub-menu {
							
						}
					}
					&:after {
						width:5px;
						height:5px;
						right: -8px;
					}
					> a {
							
					}
			}
		}
		ul.sub-menu {

			visibility: hidden;
			padding-left:0;
			padding-right:0;
			top:30px;
			> li.menu-item-has-children {
					> a {
							&:after {
								margin:4px 0 0 3px;
							}
					}
			}
			> li {
					padding-left:0px;
					padding-right:0px;
					&:last-of-type {
						a {
							
						}
					}
				> a {
						padding: 24px 20px 19px;
						letter-spacing: 0.16em;
						border-bottom:1px solid #fff;
						&:hover {
						
						}
				}
			}
		}
	}
}










.header_right {
	flex-basis: 273px;
}


.phone_wrapper {
	flex-basis: 217px;
	a.tel {
		font-size: 32px;
		margin-top: 23px;
	}
	span {
		font-size: 18px;
		letter-spacing: 0.1em;
		margin-top: 2px;
	}
}




body:not(.page-template-page-home) {
	header {
		
	}
	.header_left {
		padding: 10px 0 0;
		a.logo {
			flex-basis: 300px;
			svg {
				width: 300px;
			}
		}
		nav {
			padding-left:4%;
			padding-right: 40px;
			padding-top: 29px;
			ul.menu {
				
				> li {
					&:hover {
						> a {
							
						}
					}
					> a {
						
						&:hover {
							
						}
					}
				}
			}
		}
	}
	.espanol {
		a {
			padding-top: 39px;
		}
	}
}

	




	
	
	
	
} /* Media Query */




@media screen and (max-width: 1462px) {
	
	
	
	
	
	

body:not(.page-template-page-home) {
	header {
		
	}
	.header_left {
		
		a.logo {
			//flex-basis: 331px;
			svg {
				//width: 331px;
			}
		}
		nav {
			padding-left:2%;
			padding-right: 25px;
			ul.menu {
				
				> li {
					&:hover {
						> a {
							
						}
					}
					> a {
						
						&:hover {
							
						}
					}
				}
			}
		}
	}
	.espanol {
		a {
			
		}
	}
}

	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1395px) {
	
	
	
	.header_left {
	
		a.logo {
			flex-basis:300px;
			padding-top: 4px;
			svg {
			  width: 300px;
			}
		}
		nav {
			padding-left:20px;
			ul {
				li {
					
					a {
						
					}
				}
			}
		}
	}

	
.header_right {
	flex-basis: 243px;
}


.phone_wrapper {
	flex-basis: 187px;
	a.tel {
		
	}
	span {
		
	}
}





body:not(.page-template-page-home) {
	header {
		
	}
	.header_left {
		
		a.logo {
			padding-top:0;
			svg {
				
			}
		}
		nav {
			
			ul.menu {
				
				> li {
					&:hover {
						> a {
							
						}
					}
					> a {
						
						&:hover {
							
						}
					}
				}
			}
		}
	}
	.espanol {
		a {
			
		}
	}
}

	





	
	
	
} /* Media Query */



@media screen and (max-width: 1321px) {
	
	
	
	
	
body:not(.page-template-page-home) {
	header {
		
	}
	.header_left {
		
		a.logo {
			 flex-basis: 269px;
			 padding-top: 4px;  
			svg {
				width: 269px;	
			}
		}
		nav {
			
			ul.menu {
				
				> li {
					&:hover {
						> a {
							
						}
					}
					> a {
						
						&:hover {
							
						}
					}
				}
			}
		}
	}
	.espanol {
		a {
			
		}
	}
}

	
	
	
	
	
} /* Media Query */


@media screen and (min-width: 1297px) {
	
/*
	
	.header_left {
		nav {
			display: block !important;
		}
	}
*/
	
	
}


@media screen and (max-width: 1297px) {
	
	
	header {
		height: 89px;
	}
	
	
	.header_right {
		flex-basis: 310px;
	}
	
	.espanol {
		display: none;
	}

	.phone_wrapper {
		flex-grow: 1;
		flex-basis: auto;
		a.tel {
			margin-top: 19px;
		}
	}
	
	
	.menu_wrapper {
		display: block;
		flex-basis: 90px;
		flex-shrink: 0;
		flex-grow: 0;
		background: $bluelight;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding:0 0px;
		cursor: pointer;
		span {
			display: block;
		}
		span.menu_bar {
			width:100%;
			height:4px;
			background: #fff;
			margin-bottom:8px;
			max-width:47px;
		}
		span.menu_title {
			color:#fff;
			text-transform: uppercase;
			font-family: $helveticabold;
			font-size:13px;
			letter-spacing: 0.12em;
			padding-left:0.12em;
		}
	}
	
	.header_left {
		padding-top:10px;
		nav {
			position: fixed;
			overflow-y: scroll;
			top:0;
			left:0;
			width:100%;
			height:100vh;
			background: $blue;
			padding:180px 0;
			text-align: center;
			-webkit-overflow-scrolling: touch;
			display: none;
			z-index:5;
			.close {
				display: block;
			}
			ul {
				li {
					font-size:22px;
					margin-bottom:40px;
					letter-spacing: 0.16em;
					a {
						
					}
				}
			}
			ul.menu {
				flex-direction: column;
				padding-bottom:50px;
				> li.current-menu-ancestor {
						> a {
							color:$bluelight;
						}
				}
				> li.menu-item-has-children.open {
						margin-bottom:20px;
						> a {
								color:$bluelight;
						}
						&:hover {
							
							> ul.sub-menu {
								opacity: 1;
								visibility: visible;
								> li.menu-item-has-children {
									> ul.sub-menu {
										opacity: 0;
										visibility: hidden;
									}
								}
								> li.menu-item-has-children.open {
									> ul.sub-menu {
										opacity: 1;
										visibility: visible;
									}
								}
							}
						}
				}
				
				> li.menu-item-has-children {
						opacity: 1;
						visibility: visible;
						
						&:hover {
							> ul.sub-menu {
								opacity: 0;
								visibility: hidden;
								li.menu-item-has-children {
									ul.sub-menu {
										opacity: 0;
										visibility: hidden;
									}
								}
							}

						}
					 	a {
						 	position: relative;
						 	display: inline-block;
						 	padding-bottom:0;
						 	&:after {
								position: relative;
								top:-4px;
								display: inline-block;
								right: -10px;
								width:5px;
								height:5px;
							}
					 	}
					 }
				> li {
						
					
				}
			}
			ul {
				li {
					text-align: center;
					a {
						
					}
				}
			}
			ul.sub-menu.open {
				margin:20px 0 0;
				padding:35px 0;
				opacity: 1;
				visibility: visible;
				max-height: 3000px;
				transition: all 200ms ease-in-out;
			}
			ul.sub-menu {
				opacity: 0;
				visibility: hidden;
				max-height:0;
				width:auto;
				top:0;
				transform: none;
				left:0;
				position: relative;
				background: $bluelight;
				transition: all 200ms ease-in-out;
				margin:0px 0 0;
				padding:0px 0;
				> li.menu-item-has-children.open {
					&:hover {
						> ul.sub-menu {
							opacity: 1;
							visibility: visible;
						}
					}
				}
				>li.menu-item-has-children.open {
					> a {
							color:$blue;
					}
				}
				>li.menu-item-has-children {
					> a {
							
							&:after {
								top:0;
								margin: 5px 0 0 0;
								background: $blue;
							}
					}
					&:hover {
						> ul.sub-menu {
								opacity: 1;
								visibility: visible;
						}
					}
					> ul.sub-menu.open {
							padding: 35px 0;
							margin: 20px 0 0;
							max-height:3000px;
							opacity: 1;
							visibility: visible;
					}
					> ul.sub-menu {
							margin:0px 0 0;
							padding:0px 0;
						
						
							position: relative;
							
							left:0;
							
							background:#f0f0f1;
							opacity: 0;
							visibility: hidden;
							li {
								a {
									color:$blue;
									&:hover {
										color:$bluelight;
									}
								}
							}
					}
				}
				> li.current-menu-item {
						a {
							color:$blue;
						}
				}
				> li {
					font-size:16px;
					font-family: $helveticabold;
					margin-bottom: 43px;
					
					&:last-of-type {
						margin-bottom: 0;
					}
					  a {
						 	border-bottom: none;
						 	padding:0;
						 	letter-spacing: 0;
						 	&:hover {
							 	color:$blue;
						 	}
					 }
				}
			}
		}
	}
	
	
	
body:not(.page-template-page-home) {
	header {
		
	}
	.header_left {
		
		a.logo {
			
			svg {
					
			}
		}
		nav {
			padding:180px 0;
			ul.menu {
				>li.menu-item-has-children {
					> a {
						position: relative;
					}
					>ul.sub-menu {
						>li.menu-item-has-children {
							>ul.sub-menu {
								li.current_page_item {
									a {
										color:$bluelight;
									}
								}
							}
						}
						>li.current-menu-item {
							> a {
								color:$blue;
							}
							
						}
						>li.current-menu-ancestor {
							> a {
									color:$blue;
							}
						}
						>li {
								&:hover {
									a {
										color:$blue;
									}
								}
							> a {
								&:hover {
									color:$blue;
								}
							}
						}
					}
				}
				> li {
					&:hover {
						> a {
							
						}
					}
					> a {
						color:#fff;
						&:hover {
							
						}
					}
				}
			}
		}
	}
	.espanol {
		a {
			
		}
	}
}


	
	
	
	
	
	

	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	header {
		padding: 0px 0px 0 25px;
	}
	
	.header_left {
		 padding: 15px 0 0;
		 a.logo {
			 flex-basis: 280px;
			 padding-top:0;
			 svg {
					width: 280px;
			 }
		 }
	}
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	header {
		background: $blue;
		padding: 0px 0px 0 12px;
		height: 68px;
		position: fixed;
		top:0;
		left:0;
	}
	
	
	.header_left {
		padding: 11px 0 0;
		position: relative;
		nav {
			top: 68px;
			padding: 49px 0;
			.close {
				display: none;
			}
			ul.menu {
				
			}
			ul.sub-menu {
				> li {
						margin-bottom: 35px;
						font-size:15px;
				}
				
			}
			ul.sub-menu.open {
				padding: 22px 0;
				
			}
			ul {
				li {
					margin-bottom: 29px;
				}
			}
		}
		.close {
			display: none;
		}
		a.logo {
			 flex-basis: 203px;
			 //display: none;
			 svg {
					width: 203px;
			 }
		 }
	}
	
	
	
	.header_left nav ul.menu>li.menu-item-has-children a:after {
		margin-left:0px;
	}
	
	
	.phone_wrapper {
		display: none;
	}
	
	.header_right {
		flex-basis: 77px;
	}
	
	
	.menu_wrapper {
		flex-basis: 77px;
		span.menu_bar {
			&:nth-of-type(3) {
				margin-bottom: 0;
			}
		}
		span.menu_title {
			display: none;
		}
	} 
	
	
	
	
body:not(.page-template-page-home) {
	header {
		
	}
	.header_left {
		background: #fff;
		a.logo {
			 flex-basis: 198px;
			 padding-top: 0px;
			 margin-left: 15px;
			svg {
				width: 198px;	
			}
		}
		nav {
			padding:49px 0;
			ul.menu {
				
				> li {
					&:hover {
						> a {
							
						}
					}
					> a {
						
						&:hover {
							
						}
					}
				}
			}
		}
	}
	.espanol {
		a {
			
		}
	}
}

	
	
	
	.mobile_logo_svg {
		opacity: 0;
		visibility: hidden;
		display: block;
		a {
			display: block;
			text-decoration: none;
			display: flex;
			position: absolute;
			top:0;
			left:0;
			height:68px;
			justify-content: center;
			align-items: center;
			padding:0 0 0 10px;
			span.phone_svg {
				svg {
					width:42px;
					height:42px;
					margin-right:17px;
				}
			}
			span.mobile_phone_consultation_title {
				color:#fff;
				text-transform: uppercase;
				font-size:22px;
				line-height: 19px;
				letter-spacing: 0.12em;
				font-family: $tekoregular;
			}
		}
}

body:not(.page-template-page-home) {
	.header_left.visible {
		a.logo {
			opacity: 0;
			visibility: hidden;
		}
		.mobile_logo_svg {
			opacity: 1;
			visibility: visible;
			a {
				span.mobile_phone_consultation_title {
					color:$blue;
				}
			}
		}
	}
}
	
	
	
	
} /* Media Query */
